<div data-role="view" data-title="Details" data-model="app.elementDetailView.elementDetailViewModel" data-bind="events: { show: detailsShow }" id="elementDetailViewModelScreen" class="screen screen--detail">
    <header data-role="header" style="background-color: #351e45;">
        <div data-role="navbar" class="header-text" style="background-color: #00c853; box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5)">
            <a data-role="backbutton" data-align="left" data-bind="buttonText: strings.buttonsText.back"></a>
            <!--<span data-bind="text: currentItem['name']"></span>-->
            <span id="elementDetaileDetailsTitle"></span>
        </div>
        <div style="background-color: #351e45;">
            <br/>
            <br/>
            <center>
                <span style="color: white; font-weight: bold;" data-bind="html: currentItem.name"></span>
                <br />
                <br />
                <span id="elementStep" style="color: #808080; font-weight: bold;"></span>
                <!--<span style="color: white;" data-bind="html: currentItem.name"></span><span style="color: #e9eaeb;"> - element step</span>-->
            </center>
            <br/>
            <!--<table style="width: 100%;">
                <tr>
                    <td style="width: 50%;">
                        <a id="defaultOpen" style="color: white; font-size: 16px; font-weight: bold; border-color: red;"  onclick="openDetails()" data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.elementDetails.generalDetails"></a>
                    </td>
                    <td style="width: 50%;">
                        <a class="QC_Button" style="color: white; font-size: 16px; font-weight: bold; border-color: yellow;" onclick="openQC()" data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.elementDetails.qc"></a>
                    </td>
                </tr>
            </table>-->
            <div data-role="tabstrip" style="box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);">
                <a id="defaultOpen" style="font-size: 16px; font-weight: bold; background-color: #351e45; z-index:999;" onclick="openDetails()" data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.elementDetails.generalDetails"></a>
                <a id="QC_Button" style="font-size: 16px; font-weight: bold; background-color: #351e45; z-index:999;" onclick="openQC()" data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.elementDetails.qc"></a>
            </div>
        </div>
    </header>
    <!--<br/>
    <br/>-->
    <div id="elementDetailsAndQc" class="details-content screen__content screen__content--details">
        <div id="qc" style="overflow-x:hidden; background-color: #FFFFFF; width: 100%; height: 100%;">
            <ul id="elementSteps" data-role="listview" data-style="inset" style="padding: 0; margin: 0; width: 100%; height: 100%; margin-left: 0;"></ul>
        
        <!-- color: white; border-bottom: 1px white solid; padding-top: 3px; padding-bottom: 3px; padding-right: 3px; -->
        <script type="text/x-kendo-template" id="elementStepsTemplate">
            # if(id != 7) { #
                <div class="stepList" id=#:id# name=#:name# onclick="app.elementDetailView.elementDetailViewModel.elementStepClick(this.id)">
            # } else { #
                <div class="stepList" id=#:id# name=#:name#>
            # } #
            <table style="width: 100%; height: 100%;">
                <tr style="padding: 0; margin: 0;">
                    # if(persent == "null" || persent == undefined || (persent >= 0 && persent <= 40)) { #
                            <td id="redS" ></td>
                    # } else if(persent> 40 && persent <= 70) { #
                            <td id="orangeS"></td>
                    # } else if(persent > 70 && persent <= 100) { #
                            <td id="greenS"></td>
                    # } #	
                    <td style="width: 80%;">
                        <span style="font-size: 14px; margin-left: 5%;">#: name #</span>
                    </td>
                    <td style="width: 10%;">
                        <span style="font-weight: bold; font-size: 14px; padding-right: 5%;">#: persent #</span><span style="font-weight: bold; font-size: 14px; pading-right: 10%; margin-right: 20px;">%</span>
                    </td>
                </tr>
            </table>
        </div>
        </script>
        </div>
        <div id="generalDetails" style="overflow-x:hidden; background-color: #FFFFFF; width: 100%; height: 100%;">
            <ul data-role="listview" data-style="inset">
                <li style="height: 40px; border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 65%;"><span data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.lastUpdateDate.title"></span></span></td>
                            <td style="width: 35%;"><span data-bind="html: currentItem.LastUpdateDate"></span></td>
                        </tr>
                    </table>
                </li>

                <li style="height: 40px; border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 65%;"><span data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.poleType.title"></span></td>
                            <td style="width: 35%;"><span data-bind="html: currentItem.PoleType"></span></td>
                        </tr>
                    </table>
                </li>
                
                <li style="height: 40px; border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 65%;"><span data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.ancohorage.title"></span></td>
                            <td style="width: 35%;"><span data-bind="html: currentItem.Ancohorage"></span></td>
                        </tr>
                    </table>
                </li>

                <li style="height: 40px; border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 65%;"><span data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.sectionning.title"></span></td>
                            <td style="width: 35%;"><span data-bind="html: currentItem.Sectionning"></span></td>
                        </tr>
                    </table>
                </li>

                <li style="height: 40px; border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 65%;"><span data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.soilFound.title"></span></td>
                            <td style="width: 35%;"><span data-bind="html: currentItem.SoilFound"></span></td>
                        </tr>
                    </table>
                </li>

                <li style="height: 40px; border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 65%;"><span data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.anchoragesKp.title"></span></td>
                            <td style="width: 35%;"><span data-bind="html: currentItem.AnchoragesKP"></span></td>
                        </tr>
                    </table>
                </li>

                <li style="height: 40px; border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 65%;"><span data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.trackLayout.title"></span></td>
                            <td style="width: 35%;"><span data-bind="html: currentItem.TrackLayout"></span></td>
                        </tr>
                    </table>
                </li>

                <li style="height: 40px; border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 65%;"><span data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.profile.title"></span></td>
                            <td style="width: 35%;"><span data-bind="html: currentItem.Profile"></span></td>
                        </tr>
                    </table>
                </li>

                <li style="height: 40px; border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 65%;"><span data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.kp.title"></span></td>
                            <td style="width: 35%;"><span data-bind="html: currentItem.KP"></span></td>
                        </tr>
                    </table>
                </li>

                <li style="height: 40px; border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 65%;"><span data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.embankment.title"></span></td>
                            <td style="width: 35%;"><span data-bind="html: currentItem.Embankment"></span></td>
                        </tr>
                    </table>
                </li>

                <li style="height: 40px; border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 65%;"><span data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.anchorageFoundation.title"></span></td>
                            <td style="width: 35%;"><span data-bind="html: currentItem.AnchorageFoundation"></span></td>
                        </tr>
                    </table>
                </li>

                <li style="height: 40px; border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 65%;"><span data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.foundation.title"></span></td>
                            <td style="width: 35%;"><span data-bind="html: currentItem.Foundation"></span></td>
                        </tr>
                    </table>
                </li>

                <li style="height: 40px; border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 65%;"><span data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.depthFound.title"></span></td>
                            <td style="width: 35%;"><span data-bind="html: currentItem.DepthFound"></span></td>
                        </tr>
                    </table>
                </li>

                <li style="height: 40px; border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 65%;"><span data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.spanBefor.title"></span></td>
                            <td style="width: 35%;"><span data-bind="html: currentItem.SpanBefor"></span></td>
                        </tr>
                    </table>
                </li>

                <li style="height: 40px; border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 65%;"><span data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.spanAfter.title"></span></td>
                            <td style="width: 35%;"><span data-bind="html: currentItem.SpanAfter"></span></td>
                        </tr>
                    </table>
                </li>

                <li style="height: 40px; border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 65%;"><span data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.depthAnchor.title"></span></td>
                            <td style="width: 35%;"><span data-bind="html: currentItem.DepthAnchor"></span></td>
                        </tr>
                    </table>
                </li>
            </ul>
        </div>
        <br/>
        <br/>
    </div>
    <!-- START_CUSTOM_CODE_elementDetailViewModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_elementDetailViewModel -->
</div>
<script>
    function openDetails(e) {
        app.elementDetailView.elementDetailViewModel.page_scroller.reset();
        $("#defaultOpen").css('border-bottom', '3px solid white');
        //$("#defaultOpen").css('box-shadow', '0px 5px 5px #888888');
        $("#QC_Button").css('border-bottom', 'none');
        $("#QC_Button").css('box-shadow', 'none');
        //document.getElementById("defaultOpen").setAttribute("href", "#generalDetails");
        $("#generalDetails").show();
        $("#qc").hide();
    }
    function openQC(e) {
         /*var scroller = e.view.scroller;
               scroller.reset();*/
        app.elementDetailView.elementDetailViewModel.page_scroller.reset();
        $("#QC_Button").css('border-bottom', '3px solid white');
        //$("#QC_Button").css('box-shadow', '0px 5px 5px #888888');
        $("#defaultOpen").css('border-bottom', 'none');
        $("#defaultOpen").css('box-shadow', 'none');
        //document.getElementById("QC_Button").setAttribute("href", "#qc");
        
        app.elementDetailView.elementDetailViewModel.openQC1();
        $("#generalDetails").hide();
        $("#qc").show();
    }
</script>