<div data-role="view" data-title="Details" data-model="app.elementDetailView.elementDetailViewModel" data-bind="events: { show: detailsShow }" id="elementDetailViewModelScreen" class="screen screen--detail">
    <header data-role="header" style="background-color: #351e45;">
        <div data-role="navbar" class="header-text" style="background-color: #4fa81a; box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3)">
             <table style="width:100%;">
                <tr>
                    <td style="width:10%;">
                        <a data-icon="backIcon" data-role="backbutton" data-align="left" style="background-color:transparent; border:none;"></a>
                        <a data-icon="home" data-role="button" data-align="left" style="background-color:#4fa81a;color:#4fa81a; border:none;font-family: Tahoma, Geneva, sans-serif;"></a>
                    </td>
                    <td style="width:80%;">
                        <center><span id="elementDetaileDetailsTitle"></span></center>
                    </td>
                    <td style="width:10%;">
                        <a data-role="button" data-rel="popover" data-align="right" data-icon="hbar-button" data-position="end" style="background-color:#4fa81a;color:#4fa81a; border:none;"></a>
                    </td>
                </tr>
            </table>
            <!--<a data-icon="home" data-role="backbutton" data-align="left" style="background-color:transparent; border:none;font-family: Tahoma, Geneva, sans-serif;"></a>
            <center><span id="elementDetaileDetailsTitle"></span></center>
            <a data-role="button" data-rel="popover" data-align="right" data-icon="hbar-button" data-position="end" style="background-color:#4fa81a;color:#4fa81a; border:none;"></a>-->
        </div>
        <div style="background-color: #351e45;font-family: Tahoma, Geneva, sans-serif;">
            <br/>
            <center>
                <span style="color: white; font-weight: bold; font-size:medium;" data-bind="html: currentItem.name"></span>
                <br />
                <br />
                <span id="elementStep" style="color: #808080; font-weight: bold;"></span>
            </center>
            <div data-role="tabstrip" style="box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4); margin-top:2%;">
                <a id="defaultOpen" style="font-size: 16px; font-weight: bold; background-color: #351e45; z-index:999; box-shadow:none;" onclick="openDetails()" data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.elementDetails.generalDetails"></a>
                <a id="QC_Button" style="font-size: 16px; font-weight: bold; background-color: #351e45; z-index:999;" onclick="openQC()" data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.elementDetails.qc"></a>
                <a id="NCR_Button" style="font-size: 16px; font-weight: bold; background-color: #351e45; z-index:999;" onclick="openNCR()" data-bind="text: strings.controlPanel.defects"></a>
            </div>
        </div>
    </header>

    <footer id="elementMapButton" data-role="footer" onclick="app.formDetailView.addItemViewModel.openMap(2)" style="background-color:transparent;">
        <label class="circle2" style="position: absolute;bottom: 1em;right: 0.6em;z-index: 999;background-repeat:no-repeat;background-size:75%; background-position: center; "><br />
            <center style="color: white; margin: -2%;margin-left: -1%;  font-size: medium;">
                <img src="images/mapIcon.png" style="height: 22px; width: 14px; margin-left: 1px; margin-top:1%;font-family: Tahoma, Geneva, sans-serif;"/><br/>
                <span data-bind="text: strings.controlPanel.mapTitle"></span>
            </center>
        </label>
   </footer>


    <div id="elementDetailsAndQc" class="details-content screen__content screen__content--details">
        <div id="qc" style="overflow-x:hidden; background-color: #FFFFFF; width: 100%; height: 100%;">
            <ul id="elementSteps" data-role="listview" data-style="inset" style="font-family: Tahoma, Geneva, sans-serif;padding: 0; margin: 0; width: 100%; height: 100%; margin-left: 0;"></ul>
        
        <!--  # if(id == 4 || id == 5 || id == 6) { #
                <div class="stepList" id=#:id# name=#:name# onclick="app.elementDetailView.elementDetailViewModel.elementNoStepClick()"> } else  -->
        <script type="text/x-kendo-template" id="elementStepsTemplate">
           
            #  if(id == 7) { #
                <div class="stepList" id=#:id# name=#:name#>
            # } else { #
                <div class="stepList" id=#:id# name=#:name# onclick="app.elementDetailView.elementDetailViewModel.elementStepClick(this.id)">
            # } #
            <table style="width: 100%; height: 100%;">
                <tr style="padding: 0; margin: 0;">
                    # if(persent == "null" || persent == undefined || (persent >= 0 && persent <= 40)) { #
                            <td id="redS" ></td>
                    # } else if(persent> 40 && persent <= 70) { #
                            <td id="orangeS"></td>
                    # } else if(persent > 70 && persent <= 100) { #
                            <td id="greenS"></td>
                    # } #	
                    <td style="width: 80%;">
                        <span style="font-size: 14px; margin-left: 5%;">#: name #</span>
                    </td>
                    <td style="width: 10%;">
                        <span style="font-weight: bold; font-size: 14px; padding-right: 5%;">#: persent #</span><span style="font-weight: bold; font-size: 14px; pading-right: 10%; margin-right: 20px;">%</span>
                    </td>
                </tr>
            </table>
        </div>
        </script>
        </div>
        <div id="defectsList" style="overflow-x:hidden; width: 100%; height: 100%;">
            <!--dataSourceNcr-->
            <!-- data-template="ElementDefectsTemplate" data-bind="source: elementDetailViewModel.dataSourceNcr" -->
            <ul id="elementImpartmentList" data-role="listview" data-auto-bind="false" data-style="inset" data-pull-to-refresh="false" data-endless-scroll="false">
            </ul>
            <script type="text/x-kendo-template" id="ElementDefectsTemplate">
                # data = app.impairmentDetailView.impairmentDetailViewModel.fixHierarchicalData(data); #
                <center id=#:data['id']# onclick="app.controlPanel.controlPanelModel.itemClickDefects(this.id)">
                    <div class="rectangle"  style="width:100%;">
                        <table style="width:100%;margin-right:0%;" border="0">
                            <tr>
                                <td style="width:98%;color: black;font-family:Tahoma, Geneva, sans-serif;font-weight: 200;font-size:small;">
                                    #=kendo.toString(data['updatedAt'], "dd/MM/yyyy HH:mm")# <br />
                                    <span data-bind="text: strings.controlPanel.elementName"></span><span style="font-weight: bold;font-size:small;">#: data['ElementName'] #</span><br/>
                                    <span data-bind="text: strings.impairmentDetailView.checkName"></span><span style="font-weight: bold;font-size:small;">#: data['name'] #</span>
                                </td>
                                <td style="width: 2%;">
                                    <a data-role="button" data-icon="arrow-open" style="color:black;background-color:transparent; border:none;"></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </center>
            </script>
            <br/>
            <center>
                <span id="noOpenElementDefects" data-bind="text: strings.impairmentDetailView.noImpairments"><span>
            </center>
        </div>
        <div id="generalDetails" style="font-family: Tahoma, Geneva, sans-serif;overflow-x:hidden; background-color: #FFFFFF; width: 100%; height: 100%;">
            <ul data-role="listview" data-style="inset">
                <li style="height: 40px; border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 65%;"><span data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.lastUpdateDate.title"></span></span></td>
                            <!--<td style="width: 35%;"><span data-bind="html: currentItem.LastUpdateDate"></span></td>-->
                            <td style="width: 35%;"><span id="LastUpdateDateElem"></span></td>
                        </tr>
                    </table>
                </li>

                <li style="height: 40px; border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 65%;"><span data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.poleType.title"></span></td>
                            <td style="width: 35%;"><span data-bind="html: currentItem.PoleType"></span></td>
                        </tr>
                    </table>
                </li>
                
                <li style="height: 40px; border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 65%;"><span data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.ancohorage.title"></span></td>
                            <td style="width: 35%;"><span data-bind="html: currentItem.Ancohorage"></span></td>
                        </tr>
                    </table>
                </li>

                <li style="height: 40px; border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 65%;"><span data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.sectionning.title"></span></td>
                            <td style="width: 35%;"><span data-bind="html: currentItem.Sectionning"></span></td>
                        </tr>
                    </table>
                </li>

                <li style="height: 40px; border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 65%;"><span data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.soilFound.title"></span></td>
                            <td style="width: 35%;"><span data-bind="html: currentItem.SoilFound"></span></td>
                        </tr>
                    </table>
                </li>

                <li style="height: 40px; border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 65%;"><span data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.anchoragesKp.title"></span></td>
                            <td style="width: 35%;"><span data-bind="html: currentItem.AnchoragesKP"></span></td>
                        </tr>
                    </table>
                </li>

                <li style="height: 40px; border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 65%;"><span data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.trackLayout.title"></span></td>
                            <td style="width: 35%;"><span data-bind="html: currentItem.TrackLayout"></span></td>
                        </tr>
                    </table>
                </li>

                <li style="height: 40px; border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 65%;"><span data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.profile.title"></span></td>
                            <td style="width: 35%;"><span data-bind="html: currentItem.Profile"></span></td>
                        </tr>
                    </table>
                </li>

                <li style="height: 40px; border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 65%;"><span data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.kp.title"></span></td>
                            <td style="width: 35%;"><span data-bind="html: currentItem.KP"></span></td>
                        </tr>
                    </table>
                </li>

                <li style="height: 40px; border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 65%;"><span data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.embankment.title"></span></td>
                            <td style="width: 35%;"><span data-bind="html: currentItem.Embankment"></span></td>
                        </tr>
                    </table>
                </li>

                <li style="height: 40px; border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 65%;"><span data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.anchorageFoundation.title"></span></td>
                            <td style="width: 35%;"><span data-bind="html: currentItem.AnchorageFoundation"></span></td>
                        </tr>
                    </table>
                </li>

                <li style="height: 40px; border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 65%;"><span data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.foundation.title"></span></td>
                            <td style="width: 35%;"><span data-bind="html: currentItem.Foundation"></span></td>
                        </tr>
                    </table>
                </li>

                <li style="height: 40px; border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 65%;"><span data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.depthFound.title"></span></td>
                            <td style="width: 35%;"><span data-bind="html: currentItem.DepthFound"></span></td>
                        </tr>
                    </table>
                </li>

                <li style="height: 40px; border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 65%;"><span data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.spanBefor.title"></span></td>
                            <td style="width: 35%;">
                                <span id="spanBeforeLabel" data-bind="html: currentItem.SpanBefor"></span>
                            </td>
                        </tr>
                    </table>
                </li>

                <li style="height: 40px; border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 65%;"><span data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.spanAfter.title"></span></td>
                            <td style="width: 35%;">
                                <span id="spanAfterLabel" data-bind="html: currentItem.SpanAfter"></span>
                            </td>
                        </tr>
                    </table>
                </li>

                <li style="height: 40px; border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 65%;"><span data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.depthAnchor.title"></span></td>
                            <td style="width: 35%;"><span data-bind="html: currentItem.DepthAnchor"></span></td>
                        </tr>
                    </table>
                </li>
            </ul>
        </div>
        <br/>
        <br/>
    </div>
    <!-- START_CUSTOM_CODE_elementDetailViewModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_elementDetailViewModel -->
</div>
    <script>
        function goHome() {
            setTimeout(function () {
                app.mobileApp.navigate('#components/controlPanel/view.html');
            }, 300);
        }
    </script>
<script>
    function openDetails(e) {
        // alert("defaultOpen")
        app.elementDetailView.elementDetailViewModel.page_scroller.reset();
        $("#defaultOpen").css('border-bottom', '3px solid white');
        $("#NCR_Button").css('border-bottom', 'none');
        $("#QC_Button").css('border-bottom', 'none');
        $("#QC_Button").css('box-shadow', 'none');
        $("#generalDetails").show();
        $("#elementMapButton").show();
        $("#qc").hide();
        $("#defectsList").hide();
        $("#elementImpartmentList").hide();
    }
    function openQC(e) {
        app.elementDetailView.elementDetailViewModel.page_scroller.reset();
        $("#QC_Button").css('border-bottom', '3px solid white');
        $("#NCR_Button").css('border-bottom', 'none');
        $("#defaultOpen").css('border-bottom', 'none');
        $("#defaultOpen").css('box-shadow', 'none');
        $("#editGeneralDetailsButtom").hide();
        app.elementDetailView.elementDetailViewModel.openQC1();
        $("#generalDetails").hide();
        $("#elementMapButton").hide();
        $("#defectsList").hide();
        $("#elementImpartmentList").hide();
        $("#qc").show();
    }
    function openNCR(e) {
        app.elementDetailView.elementDetailViewModel.page_scroller.reset();
        $("#NCR_Button").css('border-bottom', '3px solid white');
        $("#defaultOpen").css('border-bottom', 'none');
        $("#QC_Button").css('border-bottom', 'none');
        $("#QC_Button").css('box-shadow', 'none');
        app.elementDetailView.elementDetailViewModel.openNCR1();
        $("#generalDetails").hide();
        $("#elementMapButton").hide();
        $("#qc").hide();
        $("#defectsList").show();
        $("#elementImpartmentList").show();
    }
</script>