<div data-role="view" data-title="Details" data-model="app.elementDetailView.elementDetailViewModel" data-bind="events: { show: stepFormsListShow }" id="elementDetailStepFormsScreen" class="screen screen--detail">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-bind="text: currentItem['name']"></span>
        </div>
    </header>

    <div class="details-content screen__content screen__content--details" style="overflow-x:hidden; background-color: #FFFFFF; width: 100%; height: 100%;">
        <ul id="stageForms" data-role="listview" data-style="inset" style="padding: 0; margin: 0; width: 100%; height: 100%; margin-left: 0;"></ul>

        <script type="text/x-kendo-template" id="formStageTemplate">
            <div class="formList" id=#:id# onclick="app.elementDetailView.elementDetailViewModel.openFormStage(this.id)">
                <table style="width: 100%; height: 100%;">
                    <tr style="padding: 0; margin: 0;">
                        <td style="width: 80%;">
                            <span style="font-size: 14px; margin-left: 5%;">#: name #</span>
                        </td>
                        <td style="width: 10%;">
                            
                        </td>
                    </tr>
                </table>
            </div>
        </script>
    <!-- START_CUSTOM_CODE_elementDetailViewModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    </div>
    <!-- END_CUSTOM_CODE_elementDetailViewModel -->
</div>