<div data-role="view" data-title="Details" data-model="app.elementDetailView.elementDetailViewModel" data-bind="events: { show: stepFormsListShow }" id="elementDetailStepFormsScreen" class="screen screen--detail">
    <header data-role="header">
        <div data-role="navbar" class="header-text" style="box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);">
            <a data-role="backbutton" data-align="left">Back</a>
            <span id="element_step"></span>
            <!--<span data-bind="text: currentItem['name']"></span>-->
        </div>
    </header>
    <br/>
    <br/>
    <div class="details-content screen__content screen__content--details" style="overflow-x:hidden; background-color: #e9eaeb; width: 100%; height: 100%;">
        <!--<ul id="stageForms" data-role="listview" data-style="inset" style="padding: 0; margin: 0; width: 100%; height: 100%; margin-left: 0;"></ul>-->
        <!--<ul id="stageForms" data-bind="source: elementDetailViewModel.dataSourceElemForms" data-template="formStageTemplate" data-role="listview" data-style="inset" style="padding: 0; margin: 0; width: 100%; height: 100%; margin-left: 0;"></ul>-->
        <ul id="stageForms" class="masterDetailView list noSeparators " data-role="listview" data-auto-bind="false" data-style="inset" 
        data-template="formStageTemplate" data-pull-to-refresh="true" data-endless-scroll="false" 
        style="padding: 0; margin: 0; width: 100%; height: 100%; margin-left: 0; background-color: #FFFFFF"></ul>

        <script type="text/x-kendo-template" id="formStageTemplate">
            <div class="formList" id=#:data['uid']# onclick="app.elementDetailView.elementDetailViewModel.openFormStage(this.id)">
                <table style="width: 100%; height: 100%;">
                    <tr style="padding: 0; margin: 0;">
                         # if(PercentageComplete == "null" || (PercentageComplete >= 0 && PercentageComplete <= 40)) { #
                                <td id="redS" ></td>
                            # } else if(PercentageComplete> 40 && PercentageComplete <= 70) { #
                                <td id="orangeS"></td>
                            # } else if(PercentageComplete > 70 && PercentageComplete <= 100) { #
                                <td id="greenS"></td>
                            # } #	
                        <td style="width: 80%;">
                            <span style="font-size: 14px; margin-left: 5%;">#: data['name'] #</span>
                        </td>
                        <td style="width: 10%;">
                            
                        </td>
                    </tr>
                </table>
            </div>
        </script>
    <!-- START_CUSTOM_CODE_elementDetailViewModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    </div>
    <!-- END_CUSTOM_CODE_elementDetailViewModel -->
</div>