<div data-role="view" data-title="View" data-layout="main" data-model="app.elementDetailView" data-show="app.elementDetailView.onShow" data-after-show="app.elementDetailView.afterShow" id="elementDetailViewScreen" class="screen">
    <header data-role="header" style="background-color: #351e45;">
        <div data-role="navbar" class="header-text" style="background-color: #00c853;">

            <!--<span data-bind="text: strings.elementDetailView.title"></span>-->
            <span id="elementDetailViewTitle"></span>
            <a data-role="backbutton" data-align="left">Back</a>
            <!--<a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>-->
        </div>
        <br/>
        <br/>
        <center>
            <span id="stageName" style="color: white; font-weight: bold;"></span>
            <!--<span style="color: white; font-size: 22px;">Step X</span>-->
        </center>
        <br/>
          <form class="km-filter-form custom-filter">
            <div class="km-filter-wrap">
                <input type="search" placeholder="Search..." data-bind="events:{keyup: elementDetailViewModel.searchChange}">
            </div>
        </form>
    </header>


    <!-- START_CUSTOM_CODE_elementDetailView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_elementDetailView -->
  

    <ul class="masterDetailView list noSeparators " data-role="listview" data-auto-bind="false" data-style="inset" data-template="elementDetailViewModelTemplate" data-bind="source: elementDetailViewModel.dataSource, events: {click: elementDetailViewModel.itemClick}"
    data-pull-to-refresh="true" data-endless-scroll="false" style="background-color: #FFFFFF; padding: 0; margin: 0; width: 100%; height: 100%; margin-left: 0;">
    </ul>


    <!-- START_CUSTOM_CODE_elementDetailViewModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_elementDetailViewModel -->
    <!-- <div id="elementLastUpdateDateField" class="field field--heading">
            <span class="field__label" data-bind="text: strings.elementDetailView.elementDetailViewModel.editableListForm3.lastUpdateDate.title"></span>
            <h3>#: kendo.toString(data['LastUpdateDate'], "dd/MM/yyyy") #</h3>
        </div> -->
    <script type="text/x-kendo-template" id="elementDetailViewModelTemplate">
        # data = app.elementDetailView.elementDetailViewModel.fixHierarchicalData(data); #
        <div class="elementList">
            <table style="width: 100%; height: 100%;">
                <tr style="padding: 0; margin: 0;">
                    <td style="width: 80%;">
                        <span style="font-size: 16px; margin-left: 5%;">#: data['name'] #</span>
                    </td>
                    <td style="width: 10%;">
                    </td>
                </tr>
            </table>
        </div>
    </script>
</div>