<div data-role="view" data-stretch="true" data-hide="app.generalMapView.onHide" data-title="View" data-layout="main" data-model="app.generalMapView" data-bind="events: { show: onShow }" data-after-show="app.generalMapView.afterShow" id="generalMapViewScreen"
class="screen">
<!-- data-show="app.generalMapView.onShow"  -->
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-bind="text: strings.generalMapView.title"></span>
            <a data-role="backbutton" data-align="left">Back</a>
            <!--<a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>-->

        </div>
    </header>

    
<!--<style>
    .footerMapTD {
       
        font-size: small;
    }
</style>
    <footer data-role="footer" style="background-color: white; height: 15%;">
        <center>
            <table style="width: 100%; height: 100px; ">
                <tr>
                    <td class="footerMapTD" style="width: 30%;">
                        <img src="images/mapRed.png" style="height:18px; width:18px;" />
                        <span>FOUNDATION</span>
                    </td>
                    <td class="footerMapTD" style="width: 26%;">
                        <img src="images/mapOrange.png" style="height:18px; width:18px;" />
                        <span>ERECTION</span>
                    </td>
                    <td class="footerMapTD" style="width: 43%;">
                        <img src="images/mapYellow.png" style="height:18px; width:18px;" />
                        <span>EQUIPMENT &</span>
                        <span style="margin-left:14%">CANTILEVER</span>
                    </td>
                </tr>
                <tr>
                    <td class="footerMapTD" style="width: 30%;">
                        <img src="images/mapGreen.png" style="height:18px; width:18px;" />
                        <span>OCS WIRES</span>
                    </td>
                    <td class="footerMapTD" style="width: 26%;">
                        <img src="images/mapBlue.png" style="height:18px; width:18px;" />
                        <span>E&B</span>
                    </td>
                    <td class="footerMapTD" style="width: 43%;">
                        <img src="images/mapPurple.png" style="height:18px; width:18px;" />
                        <span>TEST</span>
                    </td>
                </tr>
            </table>
        </center>
    </footer>-->
    <footer data-role="footer" style="background-color:transparent;">
       <label class="circle2" style="position: absolute;bottom: 0.8em;left: 0.8/em;z-index: 999;background-repeat:no-repeat;background-size:75%; background-position: center; "><br /><center style="color: white; margin: -2%;margin-left: -1%;  font-size: xx-large;">
           <img src="images/mapLegend.png" style="height:50%; width:70%; " />
        </center></label>
   </footer>
    <!-- START_CUSTOM_CODE_generalMapView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_generalMapView -->
    <div id="generalMapViewModelMap" class="map"></div>

    <!--<div class="map-details details-content screen__content screen__content--details screen__content--map" data-bind="click: generalMapViewModel.itemClick, visible: generalMapViewModel.itemDetailsVisible">
        <h3 data-bind="text: generalMapViewModel.originalItem.AnchorageFoundation"></h3>

    </div>-->


    <!-- START_CUSTOM_CODE_generalMapViewModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_generalMapViewModel -->
    <script type="text/x-kendo-template" id="generalMapViewModelTemplate">
        <div class="image-with-text ">
            # data = app.generalMapView.generalMapViewModel.fixHierarchicalData(data); #

            <h3>#: data['AnchorageFoundation'] #</h3>

        </div>
    </script>
</div>

<footer data-role="footer" style="background-color: red;">
    <span>AAAA</span>
</footer>