<div data-role="view" data-stretch="true" data-hide="app.generalMapView.onHide" data-title="View" data-layout="main" data-model="app.generalMapView" data-bind="events: { show: onShow }" data-after-show="app.generalMapView.afterShow" id="generalMapViewScreen"
class="screen">
<!-- data-show="app.generalMapView.onShow"  -->
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-bind="text: strings.generalMapView.title"></span>
            <a data-role="backbutton" data-align="left">Back</a>
            <!--<a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>-->

        </div>
    </header>
<style>
    .footerMapTD {
        width: 33%; 
        font-size: small;
    }
</style>
<!-- background-color: white; -->
    <footer data-role="footer" style="background-color: white; height: 15%;">
        <center>
            <table style="width: 100%; height: 100px;">
                <tr>
                    <td class="footerMapTD"><span>FOUNDATION</span></td>
                    <td class="footerMapTD"><span>ERECTION</span></td>
                    <td class="footerMapTD"><span>EQUIPMENT & CANTILEVER</span></td>
                </tr>
                <tr>
                    <td class="footerMapTD"><span>OCS WIRES</span></td>
                    <td class="footerMapTD"><span>E&B</span></td>
                    <td class="footerMapTD"><span>TEST</span></td>
                </tr>
            </table>
        </center>
    </footer>
    <!-- START_CUSTOM_CODE_generalMapView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_generalMapView -->
    <div id="generalMapViewModelMap" class="map"></div>

    <!--<div class="map-details details-content screen__content screen__content--details screen__content--map" data-bind="click: generalMapViewModel.itemClick, visible: generalMapViewModel.itemDetailsVisible">
        <h3 data-bind="text: generalMapViewModel.originalItem.AnchorageFoundation"></h3>

    </div>-->


    <!-- START_CUSTOM_CODE_generalMapViewModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_generalMapViewModel -->
    <script type="text/x-kendo-template" id="generalMapViewModelTemplate">
        <div class="image-with-text ">
            # data = app.generalMapView.generalMapViewModel.fixHierarchicalData(data); #

            <h3>#: data['AnchorageFoundation'] #</h3>

        </div>
    </script>
</div>

<footer data-role="footer" style="background-color: red;">
    <span>AAAA</span>
</footer>