<div data-role="view" data-title="Add" data-model="app.castingForm.addItemViewModel" data-bind="events: { show: onShow, init: onInit }" id="castingFormModelAddScreen" class="screen screen--add add-item-view">
    <header data-role="header">
        <div data-role="navbar" class="header-text" style="box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);">
            <span>CASTING</span>
            <a data-role="backbutton" data-align="left" data-bind="events: { click: onCancel }" style="background-color:transparent;border:none;">Cancel</a>
        </div>
    </header>
     <footer data-role="footer" style="background-color: #e9eaeb;"> 
        <center>
            <a data-role="button" data-align="right" data-bind="events: { click: onSaveClick }" style="border-radius: 0; width: 95%;">Save</a>
        </center>
    </footer>
    <!-- START_CUSTOM_CODE_castingFormModel -->
    <!-- END_CUSTOM_CODE_castingFormModel -->
    <div id="editableListForm170" class="form-view screen__content screen__content--form" style="overflow-x:hidden;  background-color: #e9eaeb; height:100%;">
        <br/>
        <br/>
         <!--<ul data-role="listview" data-style="inset" style="width:100%; margin-left:0;">
             <li style="border: none; font-size: 16px;">
                    <span data-bind="text: strings.castingForm.castingFormModel.editableListForm170.CASTINGDATE.title">
                </li>
                <li style="height: 45px;border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <input id="CASTINGDATE" data-bind="value: addFormData.CASTINGDATE" type="date" style="margin-right:7%;padding: 0.5em;width:90%;border:1px solid rgba(128, 128, 128, 0.5);font-size:small;font-family: Tahoma, Geneva, sans-serif;">
                    <br/>
                </li>

                <li style="border: none; font-size: 16px;">
                    <span data-bind="text: strings.castingForm.castingFormModel.editableListForm170.DESIGNEDDEPTH.title"></span>
                </li>
                <li style="border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <input id="DESIGNEDDEPTH" data-bind="value: addFormData.DESIGNEDDEPTH" type="text" style="margin-right:7%;padding: 0.5em;width:90%;border:1px solid rgba(128, 128, 128, 0.5);font-size:small;font-family: Tahoma, Geneva, sans-serif;">
                    <br/>
                </li>
                
                <li style="border: none; font-size: 16px;">
                    <span data-bind="text: strings.castingForm.castingFormModel.editableListForm170.MeasuredDEPTH.title"></span>
                </li>
                <li style="border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <input id="MeasuredDEPTH" data-bind="value: addFormData.MeasuredDEPTH" type="text" style="margin-right:7%;padding: 0.5em;width:90%;border:1px solid rgba(128, 128, 128, 0.5);font-size:small;font-family: Tahoma, Geneva, sans-serif;">
                    <br/>
                </li>

                <li style="border: none; font-size: 16px;">
                    <span data-bind="text: strings.castingForm.castingFormModel.editableListForm170.MIXTURENUMBER.title"></span>
                </li>
                <li style="border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <input id="MIXTURENUMBER" data-bind="value: addFormData.MIXTURENUMBER" type="text" style="margin-right:7%;padding: 0.5em;width:90%;border:1px solid rgba(128, 128, 128, 0.5);font-size:small;font-family: Tahoma, Geneva, sans-serif;">
                    <br/>
                </li>

                <li style="border: none; font-size: 16px;">
                    <span data-bind="text: strings.castingForm.castingFormModel.editableListForm170.FactoryName.title"></span>
                </li>
                <li style="border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <input id="FactoryName" data-bind="value: addFormData.FactoryName" type="text" style="margin-right:7%;padding: 0.5em;width:90%;border:1px solid rgba(128, 128, 128, 0.5);font-size:small;font-family: Tahoma, Geneva, sans-serif;">
                    <br/>
                </li>

                <li style="border: none; font-size: 16px;">
                    <span data-bind="text: strings.castingForm.castingFormModel.editableListForm170.ConcreteType.title"></span>
                </li>
                <li style="border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <input id="ConcreteType" data-bind="value: addFormData.ConcreteType" type="text" style="margin-right:7%;padding: 0.5em;width:90%;border:1px solid rgba(128, 128, 128, 0.5);font-size:small;font-family: Tahoma, Geneva, sans-serif;">
                    <br/>
                </li>

                <li style="border: none; font-size: 16px;">
                    <span data-bind="text: strings.castingForm.castingFormModel.editableListForm170.DeliveryNote.title"></span>
                </li>
                <li style="border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <input id="DeliveryNote" data-bind="value: addFormData.DeliveryNote" type="text" style="margin-right:7%;padding: 0.5em;width:90%;border:1px solid rgba(128, 128, 128, 0.5);font-size:small;font-family: Tahoma, Geneva, sans-serif;">
                    <br/>
                </li>

                <li style="border: none; font-size: 16px;">
                   <span data-bind="text: strings.castingForm.castingFormModel.editableListForm170.BATCH.title"></span>
                </li>
                <li style="border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <input id="BATCH" data-bind="value: addFormData.BATCH" type="text" style="margin-right:7%;padding: 0.5em;width:90%;border:1px solid rgba(128, 128, 128, 0.5);font-size:small;font-family: Tahoma, Geneva, sans-serif;">
                    <br/>
                </li>

                <li style="border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <span data-bind="text: strings.castingForm.castingFormModel.editableListForm170.COMMENTS.title" style="text-align: left;"></span>
                    <textarea id="COMMENTS" data-bind="value: addFormData.COMMENTS" rows="7" style="resize: none; width: 100%; border:1px solid rgba(128, 128, 128, 0.5);"></textarea>
                </li>

                <li style="width:100%;border-bottom-style: dashed; border-bottom-color: #e9eaeb; border-right: none; border-left: none; border-top: none; font-size: 16px;">
                    <a style="margin-left: 1%;">Add Image</a>
                    <a id="addCapturePhotoC" class="capturePhotoButtonClass" data-icon="camera" data-role="button" data-align="left" style="color:black;background-color:transparent; border:none; margin-left: 60%;"></a>
                </li>

                <li style="border:none;">
                    <a data-bind="text: strings.stagesFormSignature.title"></a>
                    <a id="castingSignature" data-icon="signatureNew" data-role="button" data-align="left" data-bind="events:{click: openSignatureCPopUp}" style="color:black;background-color:transparent; border:none; margin-left: 68%; margin-top:1%;"></a>
                    <br />
                </li>
            </ul>-->
            <!--<div data-role="modalview" id="addCapturePhotoCPop" style="left:1px; width:95%; height:70%; background-color:#F4F4F4; ">
                <div data-role="header" style="border-style:none; background-color:#F4F4F4; margin-top:3%;">
                    <div style="width:100%;">
                        <table style="width:100%;">
                            <tr>
                                <td style="width:10%;">
                                    <a data-role="button" data-bind="events: {click: closeAddPopUpImgC}" style="color:black;margin-bottom:0%;border-radius:0;border:none; background-color:transparent;">X</a> 
                                </td>
                                <td style="width:90%;">
                                    <center>
                                        <span data-bind="text: strings.stagesFormImg.title" style="font-size:large;"></span>
                                    </center>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div data-role="content" style="background-color: transparent; margin-top: 2%;">
                    <img id="addCapturePhotoCImg" style="width: 100%; height:100%;" />
                </div>
                <div data-role="footer" style="margin-bottom:3%; margin-top:3%; background-color:transparent">
                    <div style="width:100%; margin-bottom:2%;">
                        <center>
                            <a data-role="button" class="capturePhotoButtonClass" id="addCapturePhotoC_" style="color:white;margin-bottom:0%;border-radius:0;">
                                <span data-bind="text: strings.stagesFormImg.changePhoto"></span>
                            </a>
                        </center>
                    </div>
                        
                </div>
            </div>-->

            <!--<div data-role="modalview" id="signatureCastPopUp" style="left:1px; width:95%; height:36%; background-color:#F4F4F4;">
                <div data-role="header" style="border-style:none; background-color:#F4F4F4; margin-top:3%;">
                        <center>
                            <span data-bind="text: strings.stagesFormSignature.title" style="font-size:large;"></span>
                        </center>
                </div>
                <div data-role="content" dir="ltr" style="background-color: transparent; margin-top: 3%;">
                    <center>
                        <div style="border: 1px solid black; background-color: white; width:90%;">
                            <label class="km-label-above field field--textarea">  
                                <div class='signature-wrapper'>
                                    <div id='signatureCast'></div>
                                    <input type='hidden' id='SignatureAdd-value' name='SignatureAdd-value'/>
                                </div>
                            </label>
                        </div>
                    </center>
                </div>
                <footer data-role="footer" style="background-color: transparent;">
                    <div style="width:100%; margin-bottom:3%;">
                        <center>
                            <a data-role="button" style="margin-bottom:0%;border-radius:0;" data-bind="events:{click: closeSignaturePopUp}"><span data-bind="text: strings.stagesFormImg.close"></span></a>
                            <a id="ResetCast" data-role="button" style="margin-bottom:0%;border-radius:0;"><span data-bind="text: strings.stagesFormSignature.clear"></span></a>
                        </center>
                    </div>
                </footer>
            </div>-->
        <!--<form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">


                    <label id="factoryNameField" class="field km-listview-label field--text">
                        <span class="field__label" data-bind="text: strings.castingForm.castingFormModel.editableListForm170.factoryName.title"></span>


                        <input id="factoryName" data-bind="value: addFormData.factoryName, attr: { placeholder: strings.castingForm.castingFormModel.editableListForm170.factoryName.placeholder }" type="text">

                    </label>
                </li>
            </ul>
        </form>-->
        <!-- START_CUSTOM_CODE_editableListForm170 -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
        <!-- END_CUSTOM_CODE_editableListForm170 -->
    </div>
     <script>
        //  $('#ResetCast').click(function(e){
        //     $('#signatureCast').jSignature('clear');
        //     e.preventDefault();
        // });
      var scroller;

      function attachToScroller(e) {
        scroller = e.view.scroller;
      }

      $("#castingFormModelAddScreen").on("touchstart mousedown", ".signature-wrapper", function () {
        scroller.enabled = false;
      });

      $("#castingFormModelAddScreen").on("mouseup touchend", function () {
        scroller.enabled = true;
      });
    </script>
</div>