<div data-role="view" data-title="View" data-layout="main" data-model="app.castingForm" data-show="app.castingForm.onShow" data-after-show="app.castingForm.afterShow" id="castingFormScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-bind="text: strings.castingForm.title"></span>

            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>

            <a data-role="button" data-align="right" data-bind="events: { click: castingFormModel.addClick }">Add</a></div>
    </header>


    <!-- START_CUSTOM_CODE_castingForm -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_castingForm -->
    <ul class="masterDetailView list noSeparators " data-role="listview" data-auto-bind="false" data-style="inset" data-template="castingFormModelTemplate" data-bind="source: castingFormModel.dataSource, events: {click: castingFormModel.itemClick}" data-pull-to-refresh="false"
    data-endless-scroll="false">
    </ul>


    <!-- START_CUSTOM_CODE_castingFormModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_castingFormModel -->
    <script type="text/x-kendo-template" id="castingFormModelTemplate">
        <div class="image-with-text ">
            # data = app.castingForm.castingFormModel.fixHierarchicalData(data); #

            <h3>#: data['name'] #</h3>

        </div>
    </script>
</div>