<div data-role="view" data-title="Edit" data-model="app.droppers2.editItemViewModel" data-bind="events: { show: onShow, init:onInit }" id="droppers2ModelEditScreen" class="screen screen--edit edit-item-view">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span data-bind="text: itemData['name']"></span>
            <a data-role="backbutton" data-align="left" data-bind="events: { click: onCancel }">Cancel</a>
            <a data-role="button" data-align="right" data-bind="events: { click: onSaveClick }">Save</a>
        </div>
    </header>
    <!-- START_CUSTOM_CODE_droppers2Model -->
    <!-- END_CUSTOM_CODE_droppers2Model -->
    <div id="editableListForm132" class="form-view screen__content screen__content--form">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">
                    <span class="field__label" data-bind="text: strings.poleSupportDrillingIfTransPlatesForm.poleSupportDrillingIfTransPlatesFormModel.editableListForm4.checkbox1.name"></span>
                    <label id="checkbox1Field" class="field km-listview-label field--checkbox">
                        <input id="checkbox1D" class="radio" value="1" name="check1D" style="width:6vw;height:6vw;border-color: black;top: 0.7em;" type="checkbox">
                        <label class="km-checkbox-label" for="checkbox1"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.valid"></span></label>
                    </label>
                    <label id="checkbox1NotOkField" class="field km-listview-label field--checkbox">
                        <input id="checkbox1NotOkD" class="radio" value="1" name="check1D" style="width:6vw;height:6vw;border-color: black;top: 0.7em;" type="checkbox">
                        <label class="km-checkbox-label" for="checkbox1"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.invalid"></span></label>
                    </label>
                    <label id="comments1FieldD" class="km-label-above field field--textarea">
                        <span class="field__label" data-bind="text: strings.stagesFormComments.title"></span>
                        <textarea rows="7" data-bind="value: editFormData.comments1"></textarea>
                    </label>
                </li>

                <li class="form-content-item">
                    <span class="field__label" data-bind="text: strings.poleSupportDrillingIfTransPlatesForm.poleSupportDrillingIfTransPlatesFormModel.editableListForm4.checkbox2.name"></span>
                    <label id="checkbox2Field" class="field km-listview-label field--checkbox">
                        <input id="checkbox2D" class="radio" value="1" name="check2D" style="width:6vw;height:6vw;border-color: black;top: 0.7em;" type="checkbox">
                        <label class="km-checkbox-label" for="checkbox2"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.valid"></span></label>
                    </label>
                    <label id="checkbox2NotOkField" class="field km-listview-label field--checkbox">
                        <input id="checkbox2NotOkD" class="radio" value="1" name="check2D" style="width:6vw;height:6vw;border-color: black;top: 0.7em;" type="checkbox">
                        <label class="km-checkbox-label" for="checkbox2"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.invalid"></span></label>
                    </label>
                    <label id="comments2FieldD" class="km-label-above field field--textarea">
                        <span class="field__label" data-bind="text: strings.stagesFormComments.title"></span>
                        <textarea rows="7" data-bind="value: editFormData.comments2"></textarea>
                    </label>
                </li>
                
                <li class="form-content-item">
                    <span class="field__label" data-bind="text: strings.poleSupportDrillingIfTransPlatesForm.poleSupportDrillingIfTransPlatesFormModel.editableListForm4.checkbox3.name"></span>
                    <label id="checkbox3Field" class="field km-listview-label field--checkbox">
                        <input id="checkbox3D" class="radio" value="1" name="check3D" style="width:6vw;height:6vw;border-color: black;top: 0.7em;" type="checkbox">
                        <label class="km-checkbox-label" for="checkbox1"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.valid"></span></label>
                    </label>
                    <label id="checkbox3NotOkField" class="field km-listview-label field--checkbox">
                        <input id="checkbox3NotOkD" class="radio" value="1" name="check3D" style="width:6vw;height:6vw;border-color: black;top: 0.7em;" type="checkbox">
                        <label class="km-checkbox-label" for="checkbox3"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.invalid"></span></label>
                    </label>
                    <label id="comments3FieldD" class="km-label-above field field--textarea">
                        <span class="field__label" data-bind="text: strings.stagesFormComments.title"></span>
                        <textarea rows="7" data-bind="value: editFormData.comments3"></textarea>
                    </label>
                </li>

                <li class="form-content-item">
                    <span class="field__label" data-bind="text: strings.poleSupportDrillingIfTransPlatesForm.poleSupportDrillingIfTransPlatesFormModel.editableListForm4.checkbox4.name"></span>
                    <label id="checkbox4Field" class="field km-listview-label field--checkbox">
                        <input id="checkbox4D" class="radio" value="1" name="check4D" style="width:6vw;height:6vw;border-color: black;top: 0.7em;" type="checkbox">
                        <label class="km-checkbox-label" for="checkbox1"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.valid"></span></label>
                    </label>
                    <label id="checkbox4NotOkField" class="field km-listview-label field--checkbox">
                        <input id="checkbox4NotOkD" class="radio" value="1" name="check4D" style="width:6vw;height:6vw;border-color: black;top: 0.7em;" type="checkbox">
                        <label class="km-checkbox-label" for="checkbox4"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.invalid"></span></label>
                    </label>
                    <label id="comments4FieldD" class="km-label-above field field--textarea">
                        <span class="field__label" data-bind="text: strings.stagesFormComments.title"></span>
                        <textarea rows="7" data-bind="value: editFormData.comments4"></textarea>
                    </label>
                </li>

                <li class="form-content-item">
                    <span class="field__label" data-bind="text: strings.poleSupportDrillingIfTransPlatesForm.poleSupportDrillingIfTransPlatesFormModel.editableListForm4.checkbox5.name"></span>
                    <label id="checkbox5Field" class="field km-listview-label field--checkbox">
                        <input id="checkbox5D" class="radio" value="1" name="check5D" style="width:6vw;height:6vw;border-color: black;top: 0.7em;" type="checkbox">
                        <label class="km-checkbox-label" for="checkbox5"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.valid"></span></label>
                    </label>
                    <label id="checkbox5NotOkField" class="field km-listview-label field--checkbox">
                        <input id="checkbox5NotOkD" class="radio" value="1" name="check5D" style="width:6vw;height:6vw;border-color: black;top: 0.7em;" type="checkbox">
                        <label class="km-checkbox-label" for="checkbox5"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.invalid"></span></label>
                    </label>
                    <label id="comments5FieldD" class="km-label-above field field--textarea">
                        <span class="field__label" data-bind="text: strings.stagesFormComments.title"></span>
                        <textarea rows="7" data-bind="value: editFormData.comments5"></textarea>
                    </label>
                </li>
               
                <li class="form-content-item">
                    <label id="completedField" class="field km-listview-label field--checkbox">
                        <span class="field__label" data-bind="text: strings.poleSupportDrillingIfTransPlatesForm.poleSupportDrillingIfTransPlatesFormModel.editableListForm4.completed.title"></span>
                        <input id="completedD" type="checkbox" style="width:6vw;height:6vw;border-color: black;">
                    </label>
                </li>
            </ul>
        </form>
        <center>
                <span>חתימה</span>
                <div style="border-color: black; border-style: solid; width: 90%; background-color: white;"> 
                    <label class="km-label-above field field--textarea">  
                        <div class='signature-wrapper' >
                            <div id='signatureD'></div>
                            <input type='hidden' id='SignatureDAdd-value' name='SignatureAdd-value'/>
                        </div>
                    </label>
                </div>
                <p style="text-align:center; margin-top:0em">
                    <button id="DReset" type="button">נקה חתימה</button>
                </p>
            </center>
            <br />
        <!-- START_CUSTOM_CODE_editableListForm132 -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
        <script>
            $("input:checkbox").change(function() {
                var group = ":checkbox[name='" + $(this).attr("name") + "']";
                console.log("group")
                console.log(group)
                if ($(this).is(':checked')) {
                    $(group).not($(this)).attr("checked", false);
                } else {
                    $(group).not($(this)).attr("checked", true);
                }

                if($("#checkbox1NotOkD").is(':checked')) { $("#comments1FieldD").show(); }
                if($("#checkbox2NotOkD").is(':checked')) { $("#comments2FieldD").show(); }
                if($("#checkbox3NotOkD").is(':checked')) { $("#comments3FieldD").show(); }
                if($("#checkbox4NotOkD").is(':checked')) { $("#comments4FieldD").show(); }
                if($("#checkbox5NotOkD").is(':checked')) { $("#comments5FieldD").show(); }

                if($("#checkbox1D").is(':checked')) { $("#comments1FieldD").hide(); }
                if($("#checkbox2D").is(':checked')) { $("#comments2FieldD").hide(); }
                if($("#checkbox3D").is(':checked')) { $("#comments3FieldD").hide(); }
                if($("#checkbox4D").is(':checked')) { $("#comments4FieldD").hide(); }
                if($("#checkbox5D").is(':checked')) { $("#comments5FieldD").hide(); }
            });
        </script>
        <!-- END_CUSTOM_CODE_editableListForm132 -->
    </div>
    <script>
         $('#DReset').click(function(e){
            $('#signatureD').jSignature('clear');
            e.preventDefault();
        });
      var scroller;

      function attachToScroller(e) {
        scroller = e.view.scroller;
      }

      $("#droppers2ModelEditScreen").on("touchstart mousedown", ".signature-wrapper", function () {
        scroller.enabled = false;
      });

      $("#droppers2ModelEditScreen").on("mouseup touchend", function () {
        scroller.enabled = true;
      });
    </script>
</div>