<span class="field__label" data-bind="text: strings.poleSupportDrillingIfTransPlatesForm.poleSupportDrillingIfTransPlatesFormModel.editableListForm4.completed.title"></span><div data-role="view" data-title="Edit" data-model="app.returnWire2Driliing2.editItemViewModel" data-bind="events: { show: onShow, init:onInit }" id="returnWire2Driliing2ModelEditScreen" class="screen screen--edit edit-item-view">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span data-bind="text: itemData['name']"></span>
            <a data-role="backbutton" data-align="left" data-bind="events: { click: onCancel }">Cancel</a>
            <!--<a data-role="button" data-align="right" data-bind="events: { click: onSaveClick }">Save</a>-->
        </div>
    </header>
    <!-- START_CUSTOM_CODE_returnWire2Driliing2Model -->
    <!-- END_CUSTOM_CODE_returnWire2Driliing2Model -->
    <div id="editableListForm59" class="form-view screen__content screen__content--form" style="overflow-x:hidden; background-color: #FFFFFF;">
            <ul data-role="listview" data-style="inset">
                <li style="border: none;">
                    <span class="field__label" data-bind="text: strings.poleSupportDrillingIfTransPlatesForm.poleSupportDrillingIfTransPlatesFormModel.editableListForm4.checkbox1.name"></span>
                </li>
                <li style="border-bottom-style: dashed; border-bottom-color: #E0E0E0; border-right: none; border-left: none;">
                    <label id="checkbox1Field" class="field km-listview-label field--checkbox">
                        <input id="checkbox1RWD" class="radio" value="1" name="check1RWD" style="width:6vw;height:6vw;border-color: black;top: 1.2em; left: 5%;" type="checkbox"> <!-- data-bind="checked: addFormData.checkbox1"  -->
                        <label style="margin-left: 13%" for="checkbox1"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.valid"></span></label>
                    </label>
                    <label id="checkbox1NotOkField" class="field km-listview-label field--checkbox">
                        <input id="checkbox1NotOkRWD" class="radio" value="1" name="check1RWD" style="width:6vw;height:6vw;border-color: black;top: 1.2em; left: 5%;" type="checkbox">
                        <label style="margin-left: 13%" for="checkbox1NotOkField"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.invalid"></span></label>
                    </label>
                    <label id="comments1FieldRWD" class="km-label-above field field--textarea">
                        <span class="field__label" data-bind="text: strings.stagesFormComments.title"></span>
                        <textarea rows="7" data-bind="value: editFormData.comments1"></textarea>
                    </label>
                </li>

                <li style="border: none;">
                    <span class="field__label" data-bind="text: strings.poleSupportDrillingIfTransPlatesForm.poleSupportDrillingIfTransPlatesFormModel.editableListForm4.checkbox2.name"></span>
                </li>
                <li style="border-bottom-style: dashed; border-bottom-color: #E0E0E0; border-right: none; border-left: none;">
                    <label id="checkbox2Field" class="field km-listview-label field--checkbox">
                        <input id="checkbox2RWD" class="radio" value="1" name="check2RWD" style="width:6vw;height:6vw;border-color: black;top: 1.2em; left: 5%;" type="checkbox"> <!-- data-bind="checked: addFormData.checkbox1"  -->
                        <label style="margin-left: 13%" for="checkbox2"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.valid"></span></label>
                    </label>
                    <label id="checkbox2NotOkField" class="field km-listview-label field--checkbox">
                        <input id="checkbox2NotOkRWD" class="radio" value="1" name="check2RWD" style="width:6vw;height:6vw;border-color: black;top: 1.2em; left: 5%;" type="checkbox">
                        <label class="km-checkbox-label" for="checkbox2NotOkField"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.invalid"></span></label>
                    </label>
                    <label id="comments2FieldRWD" class="km-label-above field field--textarea">
                        <span class="field__label" data-bind="text: strings.stagesFormComments.title"></span>
                        <textarea rows="7" data-bind="value: editFormData.comments2"></textarea>
                    </label>
                </li>

                <li style="border: none;">
                    <span class="field__label" data-bind="text: strings.poleSupportDrillingIfTransPlatesForm.poleSupportDrillingIfTransPlatesFormModel.editableListForm4.checkbox3.name"></span>
                </li>
                <li style="border-bottom-style: dashed; border-bottom-color: #E0E0E0; border-right: none; border-left: none;">
                    <label id="checkbox3Field" class="field km-listview-label field--checkbox">
                        <input id="checkbox3RWD" class="radio" value="1" name="check3RWD" style="width:6vw;height:6vw;border-color: black;top: 1.2em; left: 5%;" type="checkbox"> <!-- data-bind="checked: addFormData.checkbox1"  -->
                        <label style="margin-left: 13%" for="checkbox3"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.valid"></span></label>
                    </label>
                    <label id="checkbox3NotOkField" class="field km-listview-label field--checkbox">
                        <input id="checkbox3NotOkRWD" class="radio" value="1" name="check3RWD" style="width:6vw;height:6vw;border-color: black;top: 1.2em; left: 5%;" type="checkbox">
                        <label style="margin-left: 13%" for="checkbox3NotOkField"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.invalid"></span></label>
                    </label>
                     <label id="comments3FieldRWD" class="km-label-above field field--textarea">
                        <span class="field__label" data-bind="text: strings.stagesFormComments.title"></span>
                        <textarea rows="7" data-bind="value: editFormData.comments3"></textarea>
                    </label>
                </li>

                <li style="border: none;">
                    <span class="field__label" data-bind="text: strings.poleSupportDrillingIfTransPlatesForm.poleSupportDrillingIfTransPlatesFormModel.editableListForm4.checkbox4.name"></span>
                </li>
                <li style="border-bottom-style: dashed; border-bottom-color: #E0E0E0; border-right: none; border-left: none;">
                    <label id="checkbox4Field" class="field km-listview-label field--checkbox">
                        <input id="checkbox4RWD" class="radio" value="1" name="check4RWD" style="width:6vw;height:6vw;border-color: black;top: 1.2em; left: 5%;" type="checkbox"> <!-- data-bind="checked: addFormData.checkbox1"  -->
                        <label style="margin-left: 13%" for="checkbox4"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.valid"></span></label>
                    </label>
                    <label id="checkbox4NotOkField" class="field km-listview-label field--checkbox">
                        <input id="checkbox4NotOkRWD" class="radio" value="1" name="check4RWD" style="width:6vw;height:6vw;border-color: black;top: 1.2em; left: 5%;" type="checkbox">
                        <label style="margin-left: 13%" for="checkbox4NotOkField"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.invalid"></span></label>
                    </label>
                    <label id="comments4FieldRWD" class="km-label-above field field--textarea">
                        <span class="field__label" data-bind="text: strings.stagesFormComments.title"></span>
                        <textarea rows="7" data-bind="value: editFormData.comments4"></textarea>
                    </label>
                </li>

                <li style="border: none;">
                    <span class="field__label" data-bind="text: strings.poleSupportDrillingIfTransPlatesForm.poleSupportDrillingIfTransPlatesFormModel.editableListForm4.checkbox5.name"></span>
                </li>
                <li style="border-bottom-style: dashed; border-bottom-color: #E0E0E0; border-right: none; border-left: none;">
                    <label id="checkbox5Field" class="field km-listview-label field--checkbox">
                        <input id="checkbox5RWD" class="radio" value="1" name="check5RWD" style="width:6vw;height:6vw;border-color: black;top: 1.2em; left: 5%;" type="checkbox"> <!-- data-bind="checked: addFormData.checkbox1"  -->
                        <label style="margin-left: 13%" for="checkbox5"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.valid"></span></label>
                    </label>
                    <label id="checkbox5NotOkField" class="field km-listview-label field--checkbox">
                        <input id="checkbox5NotOkRWD" class="radio" value="1" name="check5RWD" style="width:6vw;height:6vw;border-color: black;top: 1.2em; left: 5%;" type="checkbox">
                        <label style="margin-left: 13%" for="checkbox5NotOkField"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.invalid"></span></label>
                    </label>
                    <label id="comments5FieldRWD" class="km-label-above field field--textarea">
                        <span class="field__label" data-bind="text: strings.stagesFormComments.title"></span>
                        <textarea rows="7" data-bind="value: editFormData.comments5"></textarea>
                    </label>
                </li>
                
                <li style="border-bottom-style: dashed; border-bottom-color: #E0E0E0; border-right: none; border-left: none;">
                    <label id="completedField" class="field km-listview-label field--checkbox">
                        <span class="field__label" data-bind="text: strings.poleSupportDrillingIfTransPlatesForm.poleSupportDrillingIfTransPlatesFormModel.editableListForm4.completed.title"></span>
                        <input id="completedRWD" type="checkbox" style="width:6vw;height:6vw;border-color: black; top: 1.2em; left: 30%;">
                    </label>
                </li>
            </ul>
            <div>
                <span style="margin-left: 7%" data-bind="text: strings.stagesFormSignature.title"></span>
                <a id="RWDReset" data-role="button" style="margin-left: 36%; border-radius: 0;"><span class="field__label" data-bind="text: strings.stagesFormSignature.clear"></span></a>
                <br/>
                <br/>
                <div style="border: 1px solid black; width: 90%; background-color: white; margin-left: 5%"> 
                    <label class="km-label-above field field--textarea">  
                        <div class='signature-wrapper' >
                            <div id='signatureRWD'></div>
                            <input type='hidden' id='SignatureRWDAdd-value' name='SignatureAdd-value'/>
                        </div>
                    </label>
                </div>
            </div>
            <br />

            <footer data-role="footer">
                <center>
                    <a data-role="button" data-align="right" style="border-radius: 0; width: 90%;" data-bind="events: { click: onSaveClick }">Save</a>
                </center>
            </footer>
        <!-- START_CUSTOM_CODE_editableListForm59 -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
        <script>
            $("input:checkbox").change(function() {
                var group = ":checkbox[name='" + $(this).attr("name") + "']";
                
                if ($(this).is(':checked')) {
                    $(group).not($(this)).attr("checked", false);
                } else {
                    $(group).not($(this)).attr("checked", true);
                }

                if($("#checkbox1NotOkRWD").is(':checked')) { $("#comments1FieldRWD").show(); }
                if($("#checkbox2NotOkRWD").is(':checked')) { $("#comments2FieldRWD").show(); }
                if($("#checkbox3NotOkRWD").is(':checked')) { $("#comments3FieldRWD").show(); }
                if($("#checkbox4NotOkRWD").is(':checked')) { $("#comments4FieldRWD").show(); }
                if($("#checkbox5NotOkRWD").is(':checked')) { $("#comments5FieldRWD").show(); }

                if($("#checkbox1RWD").is(':checked')) { $("#comments1FieldRWD").hide(); }
                if($("#checkbox2RWD").is(':checked')) { $("#comments2FieldRWD").hide(); }
                if($("#checkbox3RWD").is(':checked')) { $("#comments3FieldRWD").hide(); }
                if($("#checkbox4RWD").is(':checked')) { $("#comments4FieldRWD").hide(); }
                if($("#checkbox5RWD").is(':checked')) { $("#comments5FieldRWD").hide(); }
            });
        </script>
        <!-- END_CUSTOM_CODE_editableListForm59 -->
    </div>
    <script>
         $('#RWDReset').click(function(e){
            $('#signatureRWD').jSignature('clear');
            e.preventDefault();
        });
      var scroller;

      function attachToScroller(e) {
        scroller = e.view.scroller;
      }

      $("#returnWire2Driliing2ModelEditScreen").on("touchstart mousedown", ".signature-wrapper", function () {
        scroller.enabled = false;
      });

      $("#returnWire2Driliing2ModelEditScreen").on("mouseup touchend", function () {
        scroller.enabled = true;
      });
    </script>
</div>