<div data-role="view" data-title="View" data-layout="main" data-model="app.impairmentDetailView" data-show="app.impairmentDetailView.onShow" data-after-show="app.impairmentDetailView.afterShow" id="impairmentDetailViewScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text" style="box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);">
            <table style="width:100%;">
                <tr>
                    <td style="width:10%;">
                        <a data-icon="home" data-role="button" onclick="goHome()" data-align="left" style="background-color:transparent; border:none;"></a>
                        <a data-icon="backIcon" data-role="backbutton" data-align="left" style="background-color:transparent; border:none;"></a>
                    </td>
                    <td style="width:80%;">
                         <center><span data-bind="text: strings.impairmentDetailView.title"></span></center>
                    </td>
                    <td style="width:10%;">
                        <a data-role="button" data-rel="popover" data-align="right" data-icon="hbar-button" data-position="end" style="background-color:#4fa81a;color:#4fa81a; border:none;"></a>
                        <a data-role="button" data-rel="popover" data-align="right" data-icon="hbar-button" data-position="end" style="background-color:#4fa81a;color:#4fa81a; border:none;"></a>
                    </td>
                </tr>
            </table>
        </div>
    </header>


    <!-- START_CUSTOM_CODE_impairmentDetailView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_impairmentDetailView -->
    <ul id="impartmentList" data-role="listview" data-auto-bind="false" data-style="inset" data-template="impairmentDetailViewModelTemplate" data-bind="source: impairmentDetailViewModel.dataSource, events: {click: impairmentDetailViewModel.itemClick}"
    data-pull-to-refresh="false" data-endless-scroll="false">
    </ul>

    <center>
        <span id="noOpenImpairments" data-bind="text: strings.impairmentDetailView.noImpairments"><span>
    </center>
    <!-- START_CUSTOM_CODE_impairmentDetailViewModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_impairmentDetailViewModel -->
    <script type="text/x-kendo-template" id="impairmentDetailViewModelTemplate">
        # data = app.impairmentDetailView.impairmentDetailViewModel.fixHierarchicalData(data); #
        <center>
            <div class="rectangle"  style="width:100%;">
                <table style="width:100%;margin-right:0%;" border="0">
                    <tr>
                        <td style="width:98%;color: black;font-family:Tahoma, Geneva, sans-serif;font-weight: 200;font-size:small;">
                            #=kendo.toString(data['updatedAt'], "dd/MM/yyyy HH:mm")# <br />
                            <span data-bind="text: strings.impairmentDetailView.elementName"></span><span style="font-weight: bold;font-size:small;">#: data['ElementName'] #</span><br/>
                            <span data-bind="text: strings.impairmentDetailView.checkName"></span><span style="font-weight: bold;font-size:small;">#: data['name'] #</span>
                        </td>
                        <td style="width: 2%;">
                            <a data-role="button" data-icon="arrow-open" style="color:black;background-color:transparent; border:none;"></a>
                        </td>
                    </tr>
                </table>
            </div>
        </center>
    </script>

     <script>
        function goHome() {
            setTimeout(function () {
                app.mobileApp.navigate('#components/controlPanel/view.html');
            }, 300);
        }
    </script>
</div>