<div data-role="view" data-title="Edit" data-model="app.generalAdjustement2.editItemViewModel" data-bind="events: { show: onShow, init:onInit }" id="generalAdjustement2ModelEditScreen" class="screen screen--edit edit-item-view">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span data-bind="text: itemData['name']"></span>
            <a data-role="backbutton" data-align="left" data-bind="events: { click: onCancel }">Cancel</a>
            <!--<a data-role="button" data-align="right" data-bind="events: { click: onSaveClick }">Save</a>-->
        </div>
    </header>
    <!-- START_CUSTOM_CODE_generalAdjustement2Model -->
    <!-- END_CUSTOM_CODE_generalAdjustement2Model -->
    <div id="editableListForm160" class="form-view screen__content screen__content--form" style="overflow-x:hidden; background-color: #FFFFFF;">
            <ul data-role="listview" data-style="inset">
                <li style="border: none;">
                    <span class="field__label" data-bind="text: strings.poleSupportDrillingIfTransPlatesForm.poleSupportDrillingIfTransPlatesFormModel.editableListForm4.checkbox1.name"></span>
                </li>
                <li style="border-bottom-style: dashed; border-bottom-color: #E0E0E0; border-right: none; border-left: none;">
                    <label id="checkbox1Field" class="field km-listview-label field--checkbox">
                        <input id="checkbox1GA" class="radio" value="1" name="check1GA" style="width:6vw;height:6vw;border-color: black;top: 1.2em; left: 5%;" type="checkbox">
                        <label style="margin-left: 13%" for="checkbox1"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.valid"></span></label>
                    </label>
                    <label id="checkbox1NotOkField" class="field km-listview-label field--checkbox">
                        <input id="checkbox1NotOkGA" class="radio" value="1" name="check1GA" style="width:6vw;height:6vw;border-color: black;top: 1.2em; left: 5%;" type="checkbox">
                        <label style="margin-left: 13%" for="checkbox1"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.invalid"></span></label>
                    </label>
                    <label id="comments1FieldGA" class="km-label-above field field--textarea">
                        <span class="field__label" data-bind="text: strings.stagesFormComments.title"></span>
                        <textarea rows="7" data-bind="value: editFormData.comments1"></textarea>
                    </label>
                </li>

                <li style="border: none;">
                    <span class="field__label" data-bind="text: strings.poleSupportDrillingIfTransPlatesForm.poleSupportDrillingIfTransPlatesFormModel.editableListForm4.checkbox2.name"></span>
                </li>
                <li style="border-bottom-style: dashed; border-bottom-color: #E0E0E0; border-right: none; border-left: none;">
                    <label id="checkbox2Field" class="field km-listview-label field--checkbox">
                        <input id="checkbox2GA" class="radio" value="1" name="check2GA" style="width:6vw;height:6vw;border-color: black;top: 1.2em; left: 5%;" type="checkbox">
                        <label style="margin-left: 13%" for="checkbox2"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.valid"></span></label>
                    </label>
                    <label id="checkbox2NotOkField" class="field km-listview-label field--checkbox">
                        <input id="checkbox2NotOkGA" class="radio" value="1" name="check2GA" style="width:6vw;height:6vw;border-color: black;top: 1.2em; left: 5%;" type="checkbox">
                        <label style="margin-left: 13%" for="checkbox2"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.invalid"></span></label>
                    </label>
                    <label id="comments2FieldGA" class="km-label-above field field--textarea">
                        <span class="field__label" data-bind="text: strings.stagesFormComments.title"></span>
                        <textarea rows="7" data-bind="value: editFormData.comments2"></textarea>
                    </label>
                </li>
                
                <li style="border: none;">
                    <span class="field__label" data-bind="text: strings.poleSupportDrillingIfTransPlatesForm.poleSupportDrillingIfTransPlatesFormModel.editableListForm4.checkbox3.name"></span>
                </li>
                <li style="border-bottom-style: dashed; border-bottom-color: #E0E0E0; border-right: none; border-left: none;">
                    <label id="checkbox3Field" class="field km-listview-label field--checkbox">
                        <input id="checkbox3GA" class="radio" value="1" name="check3GA" style="width:6vw;height:6vw;border-color: black;top: 1.2em; left: 5%;" type="checkbox">
                        <label style="margin-left: 13%" for="checkbox1"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.valid"></span></label>
                    </label>
                    <label id="checkbox3NotOkField" class="field km-listview-label field--checkbox">
                        <input id="checkbox3NotOkGA" class="radio" value="1" name="check3GA" style="width:6vw;height:6vw;border-color: black;top: 1.2em; left: 5%;" type="checkbox">
                        <label style="margin-left: 13%" for="checkbox3"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.invalid"></span></label>
                    </label>
                    <label id="comments3FieldGA" class="km-label-above field field--textarea">
                        <span class="field__label" data-bind="text: strings.stagesFormComments.title"></span>
                        <textarea rows="7" data-bind="value: editFormData.comments3"></textarea>
                    </label>
                </li>

                <li style="border: none;">
                    <span class="field__label" data-bind="text: strings.poleSupportDrillingIfTransPlatesForm.poleSupportDrillingIfTransPlatesFormModel.editableListForm4.checkbox4.name"></span>
                </li>
                <li style="border-bottom-style: dashed; border-bottom-color: #E0E0E0; border-right: none; border-left: none;">
                    <label id="checkbox4Field" class="field km-listview-label field--checkbox">
                        <input id="checkbox4GA" class="radio" value="1" name="check4GA" style="width:6vw;height:6vw;border-color: black;top: 1.2em; left: 5%;" type="checkbox">
                        <label style="margin-left: 13%" for="checkbox1"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.valid"></span></label>
                    </label>
                    <label id="checkbox4NotOkField" class="field km-listview-label field--checkbox">
                        <input id="checkbox4NotOkGA" class="radio" value="1" name="check4GA" style="width:6vw;height:6vw;border-color: black;top: 1.2em; left: 5%;" type="checkbox">
                        <label style="margin-left: 13%" for="checkbox4"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.invalid"></span></label>
                    </label>
                    <label id="comments4FieldGA" class="km-label-above field field--textarea">
                        <span class="field__label" data-bind="text: strings.stagesFormComments.title"></span>
                        <textarea rows="7" data-bind="value: editFormData.comments4"></textarea>
                    </label>
                </li>

                <li style="border: none;">
                    <span class="field__label" data-bind="text: strings.poleSupportDrillingIfTransPlatesForm.poleSupportDrillingIfTransPlatesFormModel.editableListForm4.checkbox5.name"></span>
                </li>
                <li style="border-bottom-style: dashed; border-bottom-color: #E0E0E0; border-right: none; border-left: none;">
                    <label id="checkbox5Field" class="field km-listview-label field--checkbox">
                        <input id="checkbox5GA" class="radio" value="1" name="check5GA" style="width:6vw;height:6vw;border-color: black;top: 1.2em; left: 5%;" type="checkbox">
                        <label style="margin-left: 13%" for="checkbox5"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.valid"></span></label>
                    </label>
                    <label id="checkbox5NotOkField" class="field km-listview-label field--checkbox">
                        <input id="checkbox5NotOkGA" class="radio" value="1" name="check5GA" style="width:6vw;height:6vw;border-color: black;top: 1.2em; left: 5%;" type="checkbox">
                        <label style="margin-left: 13%" for="checkbox5"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.invalid"></span></label>
                    </label>
                    <label id="comments5FieldGA" class="km-label-above field field--textarea">
                        <span class="field__label" data-bind="text: strings.stagesFormComments.title"></span>
                        <textarea rows="7" data-bind="value: editFormData.comments5"></textarea>
                    </label>
                </li>
               
                <li style="border-bottom-style: dashed; border-bottom-color: #E0E0E0; border-right: none; border-left: none;">
                    <label id="completedField" class="field km-listview-label field--checkbox">
                        <span class="field__label" data-bind="text: strings.poleSupportDrillingIfTransPlatesForm.poleSupportDrillingIfTransPlatesFormModel.editableListForm4.completed.title"></span>
                        <input id="completedGA" type="checkbox" style="width:6vw;height:6vw;border-color: black; top: 1.2em; left: 30%;">
                    </label>
                </li>
            </ul>
            <div>
                <span style="margin-left: 7%" data-bind="text: strings.stagesFormSignature.title"></span>
                <a id="GAReset" data-role="button" style="margin-left: 36%; border-radius: 0;"><span class="field__label" data-bind="text: strings.stagesFormSignature.clear"></a>
                <br />
                <br />
                <div style="border-color: black; border-style: solid; width: 90%; background-color: white;"> 
                    <label class="km-label-above field field--textarea">  
                        <div class='signature-wrapper' >
                            <div id='signatureGA'></div>
                            <input type='hidden' id='SignatureGAAdd-value' name='SignatureAdd-value'/>
                        </div>
                    </label>
                </div>
            </div>
            <br />

            <footer data-role="footer">
                <center>
                    <a data-role="button" data-align="right" style="border-radius: 0; width: 90%;" data-bind="events: { click: onSaveClick }">Save</a>
                </center>
            </footer>
        <!-- START_CUSTOM_CODE_editableListForm160 -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
        <script>
            $("input:checkbox").change(function() {
                var group = ":checkbox[name='" + $(this).attr("name") + "']";
                
                if ($(this).is(':checked')) {
                    $(group).not($(this)).attr("checked", false);
                } else {
                    $(group).not($(this)).attr("checked", true);
                }

                if($("#checkbox1NotOkGA").is(':checked')) { $("#comments1FieldGA").show(); }
                if($("#checkbox2NotOkGA").is(':checked')) { $("#comments2FieldGA").show(); }
                if($("#checkbox3NotOkGA").is(':checked')) { $("#comments3FieldGA").show(); }
                if($("#checkbox4NotOkGA").is(':checked')) { $("#comments4FieldGA").show(); }
                if($("#checkbox5NotOkGA").is(':checked')) { $("#comments5FieldGA").show(); }

                if($("#checkbox1GA").is(':checked')) { $("#comments1FieldGA").hide(); }
                if($("#checkbox2GA").is(':checked')) { $("#comments2FieldGA").hide(); }
                if($("#checkbox3GA").is(':checked')) { $("#comments3FieldGA").hide(); }
                if($("#checkbox4GA").is(':checked')) { $("#comments4FieldGA").hide(); }
                if($("#checkbox5GA").is(':checked')) { $("#comments5FieldGA").hide(); }
            });
        </script>
        <!-- END_CUSTOM_CODE_editableListForm160 -->
    </div>
    <script>
         $('#GAReset').click(function(e){
            $('#signatureGA').jSignature('clear');
            e.preventDefault();
        });
      var scroller;

      function attachToScroller(e) {
        scroller = e.view.scroller;
      }

      $("#generalAdjustement2ModelEditScreen").on("touchstart mousedown", ".signature-wrapper", function () {
        scroller.enabled = false;
      });

      $("#generalAdjustement2ModelEditScreen").on("mouseup touchend", function () {
        scroller.enabled = true;
      });
    </script>
</div>