<div data-role="view" data-title="View" data-layout="main" data-model="app.excavation2" data-show="app.excavation2.onShow" data-after-show="app.excavation2.afterShow" id="excavation2Screen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-bind="text: strings.excavation2.title"></span>

            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>

        </div>
    </header>


    <!-- START_CUSTOM_CODE_excavation2 -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_excavation2 -->
    <ul class="masterDetailView list noSeparators " data-role="listview" data-auto-bind="false" data-style="inset" data-template="excavation2ModelTemplate" data-bind="source: excavation2Model.dataSource, events: {click: excavation2Model.itemClick}" data-pull-to-refresh="false"
    data-endless-scroll="false">
    </ul>


    <!-- START_CUSTOM_CODE_excavation2Model -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_excavation2Model -->
    <script type="text/x-kendo-template" id="excavation2ModelTemplate">
        <div class="image-with-text ">
            # data = app.excavation2.excavation2Model.fixHierarchicalData(data); #

            <h3>#: data['name'] #</h3>

        </div>
    </script>
</div>