<div data-role="view" data-stretch="true" data-hide="app.elementLocationMaps.onHide" data-title="View" data-layout="main" data-model="app.elementLocationMaps" data-show="app.elementLocationMaps.onShow" data-after-show="app.elementLocationMaps.afterShow"
id="elementLocationMapsScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-bind="text: strings.elementLocationMaps.title"></span>

            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <a data-role="backbutton" data-align="left">Back</a>

        </div>
    </header>


    <!-- START_CUSTOM_CODE_elementLocationMaps -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_elementLocationMaps -->
    <div id="elementLocationMapsModelMap" class="map"></div>



    <!--<div class="map-details details-content screen__content screen__content--details screen__content--map" data-bind="click: elementLocationMapsModel.itemClick, visible: elementLocationMapsModel.itemDetailsVisible">
        <h3 data-bind="text: elementLocationMapsModel.originalItem.name"></h3>

    </div>-->


    <!-- START_CUSTOM_CODE_elementLocationMapsModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_elementLocationMapsModel -->
    <script type="text/x-kendo-template" id="elementLocationMapsModelTemplate">
        <div class="image-with-text ">
            # data = app.elementLocationMaps.elementLocationMapsModel.fixHierarchicalData(data); #

            <h3>#: data['name'] #</h3>

        </div>
    </script>
</div>