<div data-role="view" data-title="View" data-layout="main" data-model="app.cantileverInstallation2" data-show="app.cantileverInstallation2.onShow" data-after-show="app.cantileverInstallation2.afterShow" id="cantileverInstallation2Screen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-bind="text: strings.cantileverInstallation2.title"></span>

            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>

        </div>
    </header>


    <!-- START_CUSTOM_CODE_cantileverInstallation2 -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_cantileverInstallation2 -->
    <ul class="masterDetailView list noSeparators " data-role="listview" data-auto-bind="false" data-style="inset" data-template="cantileverInstallation2ModelTemplate" data-bind="source: cantileverInstallation2Model.dataSource, events: {click: cantileverInstallation2Model.itemClick}"
    data-pull-to-refresh="false" data-endless-scroll="false">
    </ul>


    <!-- START_CUSTOM_CODE_cantileverInstallation2Model -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_cantileverInstallation2Model -->
    <script type="text/x-kendo-template" id="cantileverInstallation2ModelTemplate">
        <div class="image-with-text ">
            # data = app.cantileverInstallation2.cantileverInstallation2Model.fixHierarchicalData(data); #

            <h3>#: data['name'] #</h3>

        </div>
    </script>
</div>