<div data-role="view" data-title="View" data-layout="main" data-model="app.cantCounterwAnchorsDrilling2" data-show="app.cantCounterwAnchorsDrilling2.onShow" data-after-show="app.cantCounterwAnchorsDrilling2.afterShow" id="cantCounterwAnchorsDrilling2Screen"
class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-bind="text: strings.cantCounterwAnchorsDrilling2.title"></span>

            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>

        </div>
    </header>


    <!-- START_CUSTOM_CODE_cantCounterwAnchorsDrilling2 -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_cantCounterwAnchorsDrilling2 -->
    <ul class="masterDetailView list noSeparators " data-role="listview" data-auto-bind="false" data-style="inset" data-template="cantCounterwAnchorsDrilling2ModelTemplate" data-bind="source: cantCounterwAnchorsDrilling2Model.dataSource, events: {click: cantCounterwAnchorsDrilling2Model.itemClick}"
    data-pull-to-refresh="false" data-endless-scroll="false">
    </ul>


    <!-- START_CUSTOM_CODE_cantCounterwAnchorsDrilling2Model -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_cantCounterwAnchorsDrilling2Model -->
    <script type="text/x-kendo-template" id="cantCounterwAnchorsDrilling2ModelTemplate">
        <div class="image-with-text ">
            # data = app.cantCounterwAnchorsDrilling2.cantCounterwAnchorsDrilling2Model.fixHierarchicalData(data); #

            <h3>#: data['name'] #</h3>

        </div>
    </script>
</div>