<div data-role="view" data-title="Edit" data-model="app.pole2.editItemViewModel" data-bind="events: { show: onShow, init:onInit }" id="pole2ModelEditScreen" class="screen screen--edit edit-item-view">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span data-bind="text: itemData['name']"></span>
            <a data-role="backbutton" data-align="left" data-bind="events: { click: onCancel }">Cancel</a>
            <!--<a data-role="button" data-align="right" data-bind="events: { click: onSaveClick }">Save</a>-->
        </div>
    </header>
    <!-- START_CUSTOM_CODE_pole2Model -->
    <!-- END_CUSTOM_CODE_pole2Model -->
    <div id="editableListForm93" class="form-view screen__content screen__content--form" style="overflow-x:hidden; background-color: #FFFFFF;">
            <ul data-role="listview" data-style="inset">
                 <li style="border: none;">
                     <span class="field__label" data-bind="text: strings.poleSupportDrillingIfTransPlatesForm.poleSupportDrillingIfTransPlatesFormModel.editableListForm4.checkbox1.name"></span>
                 </li>
                <li style="border-bottom-style: dashed; border-bottom-color: #E0E0E0; border-right: none; border-left: none;">
                    <label id="checkbox1Field" class="field km-listview-label field--checkbox">
                        <input id="checkbox1P" class="radio" value="1" name="check1P" style="width:6vw;height:6vw;border-color: black;top: 1.2em; left: 5%;" type="checkbox"> <!-- data-bind="checked: addFormData.checkbox1"  -->
                        <label style="margin-left: 13%" for="checkbox1"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.valid"></span></label>
                    </label>
                    <label id="checkbox1NotOkField" class="field km-listview-label field--checkbox">
                        <input id="checkbox1NotOkP" class="radio" value="1" name="check1P" style="width:6vw;height:6vw;border-color: black;top: 1.2em; left: 5%;" type="checkbox">
                        <label style="margin-left: 13%" for="checkbox1NotOkField"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.invalid"></span></label>
                    </label>
                    <label id="comments1FieldP" class="km-label-above field field--textarea">
                        <span class="field__label" data-bind="text: strings.stagesFormComments.title"></span>
                        <textarea rows="7" data-bind="value: editFormData.comments1"></textarea>
                    </label>
                </li>

                <li style="border: none;">
                    <span class="field__label" data-bind="text: strings.poleSupportDrillingIfTransPlatesForm.poleSupportDrillingIfTransPlatesFormModel.editableListForm4.checkbox2.name"></span>
                </li>
                <li style="border-bottom-style: dashed; border-bottom-color: #E0E0E0; border-right: none; border-left: none;">
                    <label id="checkbox2Field" class="field km-listview-label field--checkbox">
                        <input id="checkbox2P" class="radio" value="1" name="check2P" style="width:6vw;height:6vw;border-color: black;top: 1.2em; left: 5%;" type="checkbox"> <!-- data-bind="checked: addFormData.checkbox1"  -->
                        <label style="margin-left: 13%" for="checkbox2"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.valid"></span></label>
                    </label>
                    <label id="checkbox2NotOkField" class="field km-listview-label field--checkbox">
                        <input id="checkbox2NotOkP" class="radio" value="1" name="check2P" style="width:6vw;height:6vw;border-color: black;top: 1.2em; left: 5%;" type="checkbox">
                        <label style="margin-left: 13%" for="checkbox2NotOkField"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.invalid"></span></label>
                    </label>
                    <label id="comments2FieldP" class="km-label-above field field--textarea">
                        <span class="field__label" data-bind="text: strings.stagesFormComments.title"></span>
                        <textarea rows="7" data-bind="value: editFormData.comments2"></textarea>
                    </label>
                </li>

                <li style="border: none;">
                    <span class="field__label" data-bind="text: strings.poleSupportDrillingIfTransPlatesForm.poleSupportDrillingIfTransPlatesFormModel.editableListForm4.checkbox3.name"></span>
                </li>
                <li style="border-bottom-style: dashed; border-bottom-color: #E0E0E0; border-right: none; border-left: none;">
                    <label id="checkbox3Field" class="field km-listview-label field--checkbox">
                        <input id="checkbox3P" class="radio" value="1" name="check3P" style="width:6vw;height:6vw;border-color: black;top: 1.2em; left: 5%;" type="checkbox"> <!-- data-bind="checked: addFormData.checkbox1"  -->
                        <label style="margin-left: 13%" for="checkbox3"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.valid"></span></label>
                    </label>
                    <label id="checkbox3NotOkField" class="field km-listview-label field--checkbox">
                        <input id="checkbox3NotOkP" class="radio" value="1" name="check3P" style="width:6vw;height:6vw;border-color: black;top: 1.2em; left: 5%;" type="checkbox">
                        <label style="margin-left: 13%" for="checkbox3NotOkField"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.invalid"></span></label>
                    </label>
                    <label id="comments3FieldP" class="km-label-above field field--textarea">
                        <span class="field__label" data-bind="text: strings.stagesFormComments.title"></span>
                        <textarea rows="7" data-bind="value: editFormData.comments3"></textarea>
                    </label>
                </li>
                
                <li style="border: none;">
                    <span class="field__label" data-bind="text: strings.poleSupportDrillingIfTransPlatesForm.poleSupportDrillingIfTransPlatesFormModel.editableListForm4.checkbox4.name"></span>
                </li>
                <li style="border-bottom-style: dashed; border-bottom-color: #E0E0E0; border-right: none; border-left: none;">
                    <label id="checkbox4Field" class="field km-listview-label field--checkbox">
                        <input id="checkbox4P" class="radio" value="1" name="check4P" style="width:6vw;height:6vw;border-color: black;top: 1.2em; left: 5%;" type="checkbox"> <!-- data-bind="checked: addFormData.checkbox1"  -->
                        <label style="margin-left: 13%" for="checkbox4"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.valid"></span></label>
                    </label>
                    <label id="checkbox4NotOkField" class="field km-listview-label field--checkbox">
                        <input id="checkbox4NotOkP" class="radio" value="1" name="check4P" style="width:6vw;height:6vw;border-color: black;top: 1.2em; left: 5%;" type="checkbox">
                        <label style="margin-left: 13%" for="checkbox4NotOkField"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.invalid"></span></label>
                    </label>
                    <label id="comments4FieldP" class="km-label-above field field--textarea">
                        <span class="field__label" data-bind="text: strings.stagesFormComments.title"></span>
                        <textarea rows="7" data-bind="value: editFormData.comments4"></textarea>
                    </label>
                </li>

                <li style="border: none;">
                    <span class="field__label" data-bind="text: strings.poleSupportDrillingIfTransPlatesForm.poleSupportDrillingIfTransPlatesFormModel.editableListForm4.checkbox5.name"></span>
                </li>
                <li style="border-bottom-style: dashed; border-bottom-color: #E0E0E0; border-right: none; border-left: none;">
                    <!--<span>checkbox5</span>-->
                    <label id="checkbox5Field" class="field km-listview-label field--checkbox">
                        <input id="checkbox5P" class="radio" value="1" name="check5P" style="width:6vw;height:6vw;border-color: black;top: 1.2em; left: 5%;" type="checkbox"> <!-- data-bind="checked: addFormData.checkbox1"  -->
                        <label style="margin-left: 13%" for="checkbox5"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.valid"></span></label>
                    </label>
                    <label id="checkbox5NotOkField" class="field km-listview-label field--checkbox">
                        <input id="checkbox5NotOkP" class="radio" value="1" name="check5P" style="width:6vw;height:6vw;border-color: black;top: 1.2em; left: 5%;" type="checkbox">
                        <label style="margin-left: 13%" for="checkbox5NotOkField"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.invalid"></span></label>
                    </label>
                     <label id="comments5FieldP" class="km-label-above field field--textarea">
                        <span class="field__label" data-bind="text: strings.poleSupportDrillingIfTransPlatesForm.poleSupportDrillingIfTransPlatesFormModel.editableListForm4.comments5.title"></span>
                        <textarea rows="7" data-bind="value: editFormData.comments5"></textarea>
                    </label>
                </li>
                
                <li style="border-bottom-style: dashed; border-bottom-color: #E0E0E0; border-right: none; border-left: none;">
                    <label id="completedField" class="field km-listview-label field--checkbox">
                        <span class="field__label" data-bind="text: strings.poleSupportDrillingIfTransPlatesForm.poleSupportDrillingIfTransPlatesFormModel.editableListForm4.completed.title"></span>
                        <input id="completedP" type="checkbox" style="width:6vw;height:6vw;border-color: black; top: 1.2em; left: 30%;">
                    </label>
                </li>
            </ul>
            <div>
                 <span style="margin-left: 7%" data-bind="text: strings.stagesFormSignature.title"></span>
                <a id="PReset" data-role="button" style="margin-left: 36%; border-radius: 0;"><span class="field__label" data-bind="text: strings.stagesFormSignature.clear"></span></a>
                 <br />
                 <br />
                <div style="border: 1px solid black; width: 90%; background-color: white; margin-left: 5%"> 
                    <label class="km-label-above field field--textarea">  
                        <div class='signature-wrapper' >
                            <div id='signatureP'></div>
                            <input type='hidden' id='SignaturePAdd-value' name='SignatureAdd-value'/>
                        </div>
                    </label>
                </div>
            </div>
            <br />

            <footer data-role="footer">
                <center>
                    <a data-role="button" data-align="right" style="border-radius: 0; width: 90%;" data-bind="events: { click: onSaveClick }">Save</a>
                </center>
            </footer>
        <!-- START_CUSTOM_CODE_editableListForm93 -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
        <script>
            $("input:checkbox").change(function() {
                var group = ":checkbox[name='" + $(this).attr("name") + "']";
                
                if ($(this).is(':checked')) {
                    $(group).not($(this)).attr("checked", false);
                } else {
                    $(group).not($(this)).attr("checked", true);
                }

                if($("#checkbox1NotOkP").is(':checked')) { $("#comments1FieldP").show(); }
                if($("#checkbox2NotOkP").is(':checked')) { $("#comments2FieldP").show(); }
                if($("#checkbox3NotOkP").is(':checked')) { $("#comments3FieldP").show(); }
                if($("#checkbox4NotOkP").is(':checked')) { $("#comments4FieldP").show(); }
                if($("#checkbox5NotOkP").is(':checked')) { $("#comments5FieldP").show(); }

                if($("#checkbox1P").is(':checked')) { $("#comments1FieldP").hide(); }
                if($("#checkbox2P").is(':checked')) { $("#comments2FieldP").hide(); }
                if($("#checkbox3P").is(':checked')) { $("#comments3FieldP").hide(); }
                if($("#checkbox4P").is(':checked')) { $("#comments4FieldP").hide(); }
                if($("#checkbox5P").is(':checked')) { $("#comments5FieldP").hide(); }
            });
        </script>
        <!-- END_CUSTOM_CODE_editableListForm93 -->
    </div>
    <script>
         $('#PReset').click(function(e){
            $('#signatureP').jSignature('clear');
            e.preventDefault();
        });
      var scroller;

      function attachToScroller(e) {
        scroller = e.view.scroller;
      }

      $("#pole2ModelEditScreen").on("touchstart mousedown", ".signature-wrapper", function () {
        scroller.enabled = false;
      });

      $("#pole2ModelEditScreen").on("mouseup touchend", function () {
        scroller.enabled = true;
      });
    </script>
</div>