<div data-role="view" data-title="Edit" data-model="app.poleSupportDrillingIfTransPlatesForm22.editItemViewModel" data-bind="events: { show: onShow, init:onInit }" id="poleSupportDrillingIfTransPlatesForm22ModelEditScreen" class="screen screen--edit edit-item-view">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span data-bind="text: itemData['name']"></span>
            <a data-role="backbutton" data-align="left" data-bind="events: { click: onCancel }">Cancel</a>
            <a data-role="button" data-align="right" data-bind="events: { click: onSaveClick }">Save</a>
        </div>
    </header>
    <!-- START_CUSTOM_CODE_poleSupportDrillingIfTransPlatesForm22Model -->
    <!-- END_CUSTOM_CODE_poleSupportDrillingIfTransPlatesForm22Model -->
    <div id="editableListForm43" class="form-view screen__content screen__content--form" style="overflow-x:hidden" > <!-- data-init="attachToScroller" -->
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
               <li class="form-content-item">
                    <span class="field__label" data-bind="text: strings.poleSupportDrillingIfTransPlatesForm.poleSupportDrillingIfTransPlatesFormModel.editableListForm4.checkbox1.name"></span>
                    <label id="checkbox1Field" class="field km-listview-label field--checkbox">
                        <input id="checkbox1PSDTP" class="radio" value="1" name="check1PSDTP" style="width:6vw;height:6vw;border-color: black;top: 0.7em;" type="checkbox"> <!-- data-bind="checked: addFormData.checkbox1"  -->
                        <label class="km-checkbox-label" for="checkbox1"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.valid"></span></label>
                    </label>
                    <label id="checkbox1NotOkField" class="field km-listview-label field--checkbox">
                        <input id="checkbox1NotOkPSDTP" class="radio" value="1" name="check1PSDTP" style="width:6vw;height:6vw;border-color: black;top: 0.7em;" type="checkbox">
                        <label class="km-checkbox-label" for="checkbox1NotOkField"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.invalid"></span></label>
                    </label>
                    <label id="comments1FieldPSDTP" class="km-label-above field field--textarea">
                        <span class="field__label" data-bind="text: strings.stagesFormComments.title"></span>
                        <textarea rows="7" data-bind="value: editFormData.comments1"></textarea>
                    </label>
                </li>

                <li class="form-content-item">
                    <span class="field__label" data-bind="text: strings.poleSupportDrillingIfTransPlatesForm.poleSupportDrillingIfTransPlatesFormModel.editableListForm4.checkbox2.name"></span>
                    <label id="checkbox2Field" class="field km-listview-label field--checkbox">
                        <input id="checkbox2PSDTP" class="radio" value="1" name="check2PSDTP" style="width:6vw;height:6vw;border-color: black;top: 0.7em;" type="checkbox"> <!-- data-bind="checked: addFormData.checkbox1"  -->
                        <label class="km-checkbox-label" for="checkbox2"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.valid"></span></label>
                    </label>
                    <label id="checkbox2NotOkField" class="field km-listview-label field--checkbox">
                        <input id="checkbox2NotOkPSDTP" class="radio" value="1" name="check2PSDTP" style="width:6vw;height:6vw;border-color: black;top: 0.7em;" type="checkbox">
                        <label class="km-checkbox-label" for="checkbox2NotOkField"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.invalid"></span></label>
                    </label>
                    <label id="comments2FieldPSDTP" class="km-label-above field field--textarea">
                        <span class="field__label" data-bind="text: strings.stagesFormComments.title"></span>
                        <textarea rows="7" data-bind="value: editFormData.comments2"></textarea>
                    </label>
                </li>

                <li class="form-content-item">
                    <span class="field__label" data-bind="text: strings.poleSupportDrillingIfTransPlatesForm.poleSupportDrillingIfTransPlatesFormModel.editableListForm4.checkbox3.name"></span>
                    <label id="checkbox3Field" class="field km-listview-label field--checkbox">
                        <input id="checkbox3PSDTP" class="radio" value="1" name="check3PSDTP" style="width:6vw;height:6vw;border-color: black;top: 0.7em;" type="checkbox"> <!-- data-bind="checked: addFormData.checkbox1"  -->
                        <label class="km-checkbox-label" for="checkbox3"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.valid"></span></label>
                    </label>
                    <label id="checkbox3NotOkField" class="field km-listview-label field--checkbox">
                        <input id="checkbox3NotOkPSDTP" class="radio" value="1" name="check3PSDTP" style="width:6vw;height:6vw;border-color: black;top: 0.7em;" type="checkbox">
                        <label class="km-checkbox-label" for="checkbox3NotOkField"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.invalid"></span></label>
                    </label>
                    <label id="comments3FieldPSDTP" class="km-label-above field field--textarea">
                        <span class="field__label" data-bind="text: strings.stagesFormComments.title"></span>
                        <textarea rows="7" data-bind="value: editFormData.comments3"></textarea>
                    </label>
                </li>
                
                <li class="form-content-item">
                    <span class="field__label" data-bind="text: strings.poleSupportDrillingIfTransPlatesForm.poleSupportDrillingIfTransPlatesFormModel.editableListForm4.checkbox4.name"></span>
                    <label id="checkbox4Field" class="field km-listview-label field--checkbox">
                        <input id="checkbox4PSDTP" class="radio" value="1" name="check4PSDTP" style="width:6vw;height:6vw;border-color: black;top: 0.7em;" type="checkbox"> <!-- data-bind="checked: addFormData.checkbox1"  -->
                        <label class="km-checkbox-label" for="checkbox4"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.valid"></span></label>
                    </label>
                    <label id="checkbox4NotOkField" class="field km-listview-label field--checkbox">
                        <input id="checkbox4NotOkPSDTP" class="radio" value="1" name="check4PSDTP" style="width:6vw;height:6vw;border-color: black;top: 0.7em;" type="checkbox">
                        <label class="km-checkbox-label" for="checkbox4NotOkField"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.invalid"></span></label>
                    </label>
                    <label id="comments4FieldPSDTP" class="km-label-above field field--textarea">
                        <span class="field__label" data-bind="text: strings.stagesFormComments.title"></span>
                        <textarea rows="7" data-bind="value: editFormData.comments4"></textarea>
                    </label>
                </li>

                <li class="form-content-item">
                    <span>checkbox5</span>
                    <span class="field__label" data-bind="text: strings.poleSupportDrillingIfTransPlatesForm.poleSupportDrillingIfTransPlatesFormModel.editableListForm5.checkbox5.name"></span>
                    <label id="checkbox5Field" class="field km-listview-label field--checkbox">
                        <input id="checkbox5PSDTP" class="radio" value="1" name="check5PSDTP" style="width:6vw;height:6vw;border-color: black;top: 0.7em;" type="checkbox"> <!-- data-bind="checked: addFormData.checkbox1"  -->
                        <label class="km-checkbox-label" for="checkbox5"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.valid"></span></label>
                    </label>
                    <label id="checkbox5NotOkField" class="field km-listview-label field--checkbox">
                        <input id="checkbox5NotOkPSDTP" class="radio" value="1" name="check5PSDTP" style="width:6vw;height:6vw;border-color: black;top: 0.7em;" type="checkbox">
                        <label class="km-checkbox-label" for="checkbox5NotOkField"> <span class="field__label" data-bind="text: strings.stagesFormCheckBox.invalid"></span></label>
                    </label>
                     <label id="comments5FieldPSDTP" class="km-label-above field field--textarea">
                        <span class="field__label" data-bind="text: strings.stagesFormComments.title"></span>
                        <textarea rows="7" data-bind="value: editFormData.comments5"></textarea>
                    </label>
                </li>
                
                <li class="form-content-item">
                    <label id="completedField" class="field km-listview-label field--checkbox">
                        <span class="field__label" data-bind="text: strings.poleSupportDrillingIfTransPlatesForm.poleSupportDrillingIfTransPlatesFormModel.editableListForm4.completed.title"></span>
                        <input id="completedPSDTP" type="checkbox" style="width:6vw;height:6vw;border-color: black;">
                    </label>
                </li>
            </ul>
        </form>
           <center>
                <span>חתימה</span>
                <div style="border-color: black; border-style: solid; width: 90%; background-color: white;"> 
                    <label class="km-label-above field field--textarea">  
                        <div class='signature-wrapper' >
                            <div id='signaturePSDTP'></div>
                            <input type='hidden' id='SignaturePSDTPAdd-value' name='SignatureAdd-value'/>
                        </div>
                    </label>
                </div>
                <p style="text-align:center; margin-top:0em">
                    <button id="PSDTPReset" type="button">נקה חתימה</button>
                </p>
            </center>
            <br />
        <!-- START_CUSTOM_CODE_editableListForm43 -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
        <script>
            $("input:checkbox").change(function() {
                var group = ":checkbox[name='" + $(this).attr("name") + "']";
                console.log("group")
                console.log(group)
                if ($(this).is(':checked')) {
                    $(group).not($(this)).attr("checked", false);
                } else {
                    $(group).not($(this)).attr("checked", true);
                }

                if($("#checkbox1NotOkPSDTP").is(':checked')) { $("#comments1FieldPSDTP").show(); }
                if($("#checkbox2NotOkPSDTP").is(':checked')) { $("#comments2FieldPSDTP").show(); }
                if($("#checkbox3NotOkPSDTP").is(':checked')) { $("#comments3FieldPSDTP").show(); }
                if($("#checkbox4NotOkPSDTP").is(':checked')) { $("#comments4FieldPSDTP").show(); }
                if($("#checkbox5NotOkPSDTP").is(':checked')) { $("#comments5FieldPSDTP").show(); }

                if($("#checkbox1PSDTP").is(':checked')) { $("#comments1FieldPSDTP").hide(); }
                if($("#checkbox2PSDTP").is(':checked')) { $("#comments2FieldPSDTP").hide(); }
                if($("#checkbox3PSDTP").is(':checked')) { $("#comments3FieldPSDTP").hide(); }
                if($("#checkbox4PSDTP").is(':checked')) { $("#comments4FieldPSDTP").hide(); }
                if($("#checkbox5PSDTP").is(':checked')) { $("#comments5FieldPSDTP").hide(); }
            });
        </script>
        <!-- END_CUSTOM_CODE_editableListForm43 -->
    </div>
    <script>
         $('#PSDTPReset').click(function(e){
            $('#signaturePSDTP').jSignature('clear');
            e.preventDefault();
        });
      var scroller;

      function attachToScroller(e) {
        scroller = e.view.scroller;
      }

      $("#poleSupportDrillingIfTransPlatesForm22ModelEditScreen").on("touchstart mousedown", ".signature-wrapper", function () {
        scroller.enabled = false;
      });

      $("#poleSupportDrillingIfTransPlatesForm22ModelEditScreen").on("mouseup touchend", function () {
        scroller.enabled = true;
      });
    </script>
</div>